{% load static %}


{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="{% url 'admin-portal:dashboard' %}">
        <i class="bx bx-home-circle mr-2"></i>Admin Dashboard
    </a>
</li>


{# Apps #}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bx bx-customize mr-2"></i>Apps
        <div class="arrow-down"></div>
    </a>
    <div class="dropdown-menu" aria-labelledby="topnav-pages">

        <a href="#" class="dropdown-item">User Control</a>
        <a href="#" class="dropdown-item">Wallet Control</a>
        <a href="#" class="dropdown-item">Transaction Control</a>
        <a href="#" class="dropdown-item">Withdrawal Control</a>
    </div>
</li>


<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="/admin/">
        <i class="fa fa-child mr-2"></i>Root Access
    </a>
</li>


{# ------------------------------------------------------------------------------------------------------------------ #}