{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} Connect {% endblock %}


{% block content %}

    <div class="row mb-4">
        <div class="col">
            <b><a href="{% url 'customer-portal:stripe-customer-account-update' object.pk %}"><i class="fa fa-edit"></i> Update Connect Account Details</a></b>
        </div>
    </div>

    <div class="row">

        {# WALLETS DIV #}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0 card-title"><b>Cards</b></p>
                </div>
                <div class="card-body text-center border-bottom">
                    <iframe src="https://embed.lottiefiles.com/animation/99440" class="border-0 mb-0"></iframe>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table table-borderless table-hover">
                                <tbody>
                                <tr>
                                    <td>
                                        <h4 class="mb-0"><i class="visa-logo"></i></h4>
                                        <p class="mb-0"><b>Visa</b></p>
                                        <p class="small text-muted mb-0">237********564</p>
                                    </td>
                                    <td>
                                        <p class="mb-0">
                                            <b>Attached</b>
                                        </p>
                                        <p class="small mb-0">27th, July, 2022</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="mb-0"><i class="visa-logo"></i></h4>
                                        <p class="mb-0"><b>Master Card</b></p>
                                        <p class="small text-muted mb-0">237********564</p>
                                    </td>
                                    <td>
                                        <p class="mb-0">
                                            <b>Attached</b>
                                        </p>
                                        <p class="small mb-0">27th, July, 2022</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="mb-0"><i class="visa-logo"></i></h4>
                                        <p class="mb-0"><b>American Express</b></p>
                                        <p class="small text-muted mb-0">237********564</p>
                                    </td>
                                    <td>
                                        <p class="mb-0">
                                            <b>Attached</b>
                                        </p>
                                        <p class="small mb-0">27th, July, 2022</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# WALLETS DIV #}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0 card-title"><b>Wallets</b></p>
                </div>
                <div class="card-body text-center border-bottom">
                    <iframe src="https://embed.lottiefiles.com/animation/55607" class="border-0"></iframe>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table table-borderless table-hover">
                                <tbody>
                                <tr>
                                    <td>
                                        <h4 class="mb-0"><i class="visa-logo"></i></h4>
                                        <p class="mb-0"><b>ApplePay</b></p>
                                        <p class="small text-muted mb-0">237********564</p>
                                    </td>
                                    <td>
                                        <p class="mb-0">
                                            <b>Attached</b>
                                        </p>
                                        <p class="small mb-0">27th, July, 2022</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="mb-0"><i class="visa-logo"></i></h4>
                                        <p class="mb-0"><b>GooglePay</b></p>
                                        <p class="small text-muted mb-0">237********564</p>
                                    </td>
                                    <td>
                                        <p class="mb-0">
                                            <b>Attached</b>
                                        </p>
                                        <p class="small mb-0">27th, July, 2022</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="mb-0"><i class="visa-logo"></i></h4>
                                        <p class="mb-0"><b>MicrosoftPay</b></p>
                                        <p class="small text-muted mb-0">237********564</p>
                                    </td>
                                    <td>
                                        <p class="mb-0">
                                            <b>Attached</b>
                                        </p>
                                        <p class="small mb-0">27th, July, 2022</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# BANKS DIV #}
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0 card-title"><b>Banks</b></p>
                </div>
                <div class="card-body text-center border-bottom">
                    <iframe src="https://embed.lottiefiles.com/animation/99628" class="border-0"></iframe>
                </div>
                <div class="card-body">
                    <p class="text-danger"><b>No bank accounts connected yet.</b></p>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col">
            <b><a class="text-danger" href="{% url 'customer-portal:stripe-customer-account-delete' object.pk %}">
                <i class="fa fa-trash"></i> Remove Connect Account</a></b>
        </div>
    </div>

{% endblock %}
