{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} {{ request.user }} {% endblock %}

{% block base_links %}{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-xl-12">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="media">
                                <div class="mr-3 align-self-center">
                                    <i class="mdi mdi-arrow-up h2 text-success mb-0"></i>
                                </div>
                                <div class="media-body">
                                    <p class="text-muted mb-2">Received</p>
                                    <h5 class="mb-0">
                                        $ {{ wallet.total_transactions_amount_received }} <span
                                            class="font-size-14 text-muted">({{ wallet.total_transactions_received }})</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="media">
                                <div class="mr-3 align-self-center">
                                    <i class="mdi mdi-arrow-down h2 text-danger mb-0"></i>
                                </div>
                                <div class="media-body">
                                    <p class="text-muted mb-2">Sent</p>
                                    <h5 class="mb-0">
                                        $ {{ wallet.total_transactions_amount_sent }} <span
                                            class="font-size-14 text-muted">({{ wallet.total_transactions_sent }})</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="media">
                                <div class="mr-3 align-self-center">
                                    <i class="bx bx-import h2 text-primary mb-0"></i>
                                </div>
                                <div class="media-body">
                                    <p class="text-muted mb-2">Top Up's</p>
                                    <h5 class="mb-0">
                                        $ {{ wallet.total_top_up_amount }} <span
                                            class="font-size-14 text-muted">({{ wallet.total_top_up }})</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="media">
                                <div class="mr-3 align-self-center">
                                    <i class="bx bx-export h2 text-primary mb-0"></i>
                                </div>
                                <div class="media-body">
                                    <p class="text-muted mb-2">Withdrawals</p>
                                    <h5 class="mb-0">
                                        $ {{ wallet.total_withdrawal_amount }} <span
                                            class="font-size-14 text-muted">({{ wallet.total_withdrawal }})</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">Overview</h4>
                    <div id="chart">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">Recent Transactions</h4>
                    {% if transactions_list %}
                        <div class="mt-4">
                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap table-hover">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Transaction ID</th>
                                        <th scope="col">Sender</th>
                                        <th scope="col">Receiver</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Transfer</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Method</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for object in transactions_list %}
                                        <tr>
                                            <td>
                                                <h5 class="text-truncate font-size-14"><a href="#"
                                                                                          class="text-dark"># {{ object.pk }}</a>
                                                </h5>
                                                <p class="text-muted mb-0"></p>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="cols pr-4">
                                                        {% if object.sender_wallet.user.profile_image %}
                                                            <img class="rounded-circle avatar-xs"
                                                                 src="{{ object.sender_wallet.user.profile_image.url }}"
                                                                 alt="">
                                                        {% else %}
                                                            <img class="rounded-circle avatar-xs"
                                                                 src="{% static 'core/images/no-user.png' %}" alt="">
                                                        {% endif %}
                                                    </div>
                                                    <div class="cols">
                                                        <a href="#">
                                                            {% if object.sender_wallet.user.profile_image %}
                                                                <h5 class="text-truncate font-size-14 mb-0">
                                                                    {{ object.sender_wallet.user.first_name }}
                                                                    {{ object.sender_wallet.user.last_name }}
                                                                </h5>
                                                            {% else %}
                                                                <h5 class="text-truncate font-size-14 mb-0">
                                                                    {{ object.sender_wallet.user.username }}
                                                                </h5>
                                                            {% endif %}

                                                            <p class="text-muted mb-0">
                                                                <i class="fa fa-wallet"></i> {{ object.sender_wallet.user.email }}
                                                            </p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="cols pr-4">
                                                        {% if object.receiver_wallet.user.profile_image %}
                                                            <img class="rounded-circle avatar-xs"
                                                                 src="{{ object.receiver_wallet.user.profile_image.url }}"
                                                                 alt="">
                                                        {% else %}
                                                            <img class="rounded-circle avatar-xs"
                                                                 src="{% static 'core/images/no-user.png' %}" alt="">
                                                        {% endif %}
                                                    </div>
                                                    <div class="cols">
                                                        <a href="#">
                                                            {% if object.receiver_wallet.user.first_name %}
                                                                <h5 class="text-truncate font-size-14 mb-0">
                                                                    {{ object.receiver_wallet.user.first_name }}
                                                                    {{ object.receiver_wallet.user.last_name }}
                                                                </h5>
                                                            {% else %}
                                                                <h5 class="text-truncate font-size-14 mb-0">
                                                                    {{ object.receiver_wallet.user.username }}
                                                                </h5>
                                                            {% endif %}

                                                            <p class="text-muted mb-0">
                                                                <i class="fa fa-wallet"></i> {{ object.receiver_wallet.user.email }}
                                                            </p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <b>{{ object.total }}</b>
                                            </td>
                                            <td>
                                                <h5 class="text-truncate font-size-14">
                                                    {% if object.sender_wallet.user == request.user %}
                                                        <b class="text-danger"><i class="fa fa-arrow-down"></i>
                                                            Sent
                                                        </b>
                                                    {% else %}
                                                        <b class="text-success"><i class="fa fa-arrow-up"></i>
                                                            Received
                                                        </b>
                                                    {% endif %}
                                                </h5>
                                            </td>
                                            <td>{{ object.created_on }}</td>
                                            <td class="text-warning">
                                                <span class="badge badge-dark">{{ object.type }}</span>
                                            </td>
                                            {% if object.status == 'com' %}
                                                <td class="text-success">
                                                    <b class=""><i
                                                            class="fa fa-check-circle"></i> {{ object.get_status_display }}
                                                    </b>
                                                </td>
                                            {% elif object.status == 'pen' %}
                                                <td class="text-warning"><b class=""><i
                                                        class="fa fa-exclamation-triangle"></i>
                                                    {{ object.get_status_display }}
                                                </b></td>
                                            {% else %}
                                                <td class="text-danger">
                                                    <b class=""><i class="fa fa-times-circle"></i>
                                                        {{ object.get_status_display }}
                                                    </b>
                                                </td>
                                            {% endif %}
                                            <td>
                                                <a href="{% url 'customer-portal:transaction-detail' object.pk %}"><b><i
                                                        class="fa fa-eye"></i> view</b>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="">
                            <a href="#"><b><i class="fa fa-link"></i> View More</b></a>
                        </div>
                    {% else %}
                        <p class="mb-0 text-danger">
                            <b><i class="fa fa-exclamation-circle"></i> No Recent Transactions placed yet.</b>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Recent Top Ups</h4>

                    {% if top_up_list %}
                        <div class="mt-4">
                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap table-hover">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Transaction ID</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Payment Method</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for object in top_up_list %}
                                        <tr>
                                            <td>
                                                <h5 class="text-truncate font-size-14">
                                                    <a href="#" class="text-dark">#{{ object.pk }}</a>
                                                </h5>
                                                <p class="text-muted mb-0"></p>
                                            </td>
                                            <td>
                                                <b class=""><i class="fa fa-arrow-up text-success"></i>
                                                    ${{ object.total }}
                                                </b><br>
                                            </td>
                                            <td>{{ object.created_on }}</td>
                                            <td>
                                    <span class="badge badge-dark">
                                        {{ object.get_payment_method_display }}
                                    </span>
                                            </td>
                                            <td>
                                                {% if object.status == 'com' %}
                                                    <b class="text-success"><i
                                                            class="fa fa-check-circle"></i> {{ object.get_status_display }}
                                                    </b>
                                                {% elif object.status == 'pen' %}
                                                    <b class="text-warning"><i
                                                            class="fa fa-exclamation-triangle"></i>
                                                        {{ object.get_status_display }}
                                                    </b>
                                                {% else %}

                                                    <b class="text-danger"><i class="fa fa-times-circle"></i>
                                                        {{ object.get_status_display }}
                                                    </b>
                                                {% endif %}
                                            <td>
                                                <a href="{% url 'customer-portal:topup-detail' object.pk %}"><b><i
                                                        class="fa fa-eye"></i>
                                                    view</b>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="">
                            <a href="{% url 'customer-portal:topup-list' %}"><b><i class="fa fa-link"></i> View More</b></a>
                        </div>
                    {% else %}
                        <p class="mb-0 text-danger">
                            <b><i class="fa fa-exclamation-circle"></i> No Recent Top ups placed yet.</b>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Recent Withdrawals</h4>

                    {% if withdrawal_list %}
                        <div class="mt-4">
                            <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-hover">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Transaction ID</th>
                                <th scope="col">Bank</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Tax</th>
                                <th scope="col">Date</th>
                                <th scope="col">Payment Method</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for foo in '1234'|make_list %}
                                <tr>
                                    <td>
                                        <h5 class="text-truncate font-size-14"><a href="#" class="text-dark">#10273903892</a>
                                        </h5>
                                        <p class="text-muted mb-0"></p>
                                    </td>
                                    <td>
                                        <h5 class="text-truncate font-size-14 mb-0">
                                            <i class="bx bxs-bank"></i> United Bank Ltd
                                        </h5>
                                        <p class="text-muted mb-0">UN12788PK2********</p>
                                    </td>
                                    <td><b>$654</b></td>
                                    <td><b><i class="fa fa-coins text-danger"></i> $2</b></td>
                                    <td>25th Jan, 2022</td>
                                    <td class="text-warning">
                                        <b><i class="bx bx-transfer"></i> Bank Transfer</b>
                                    </td>
                                    <td class="text-success"><b class=""><i class="fa fa-check-circle"></i>
                                        Completed</b></td>
                                    <td>
                                        <a href="{% url 'customer-portal:withdrawal-detail' %}"><b><i class="fa fa-eye"></i> view</b></a> |
                                        <a href="{% url 'customer-portal:withdrawal-invoice' %}"><b><i class="fa fa-print"></i> invoice</b></a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                        </div>

                        <div class="">
                            <a href="{% url 'customer-portal:topup-list' %}"><b><i class="fa fa-link"></i> View More</b></a>
                        </div>
                    {% else %}
                        <p class="mb-0 text-danger">
                            <b><i class="fa fa-exclamation-circle"></i> No Recent withdrawals placed yet.</b>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_internal_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}

{% block base_external_scripts %}
    <script>
        var options = {
            series: [{
                name: 'Top Up',
                data: [31, 40, 28, 51, 42, 109, 100]
            }, {
                name: 'Withdrawals',
                data: [11, 32, 45, 32, 34, 52, 41]
            }, {
                name: 'Transactions',
                data: [12, 40, 55, 62, 74, 82, 91]
            }],
            chart: {
                height: 225,
                type: 'area'
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth'
            },
            xaxis: {
                type: 'number',
                categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"]
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

    </script>
{% endblock %}




