{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} Payment Methods {% endblock %}


{% block content %}

    <div class="row">
        <div class="col-sm-3">

            <div class="card">
                <div class="card-body text-center">
                    <img src="{% static 'core/portals/images/icons8-stripe-100.png' %}">
                    <p class="card-title my-0">Stripe</p>
                    <div class="description">
                        {% if stripe_account %}
                            <p class="text-success mb-0">
                                <b>
                                    <i class="fa fa-check-circle"></i>
                                    Active
                                </b>
                            </p>
                            <hr>
                            <p>
                                <b><i class="fa fa-barcode"></i> User Stripe ID</b>
                                <br>{{ stripe_account.stripe_user_id }}</p>
                        {% else %}
                            <p class="text-danger mb-0">
                                <b>
                                    <i class="fa fa-exclamation-circle"></i>
                                    Account not available
                                </b>
                            </p>
                            <hr>
                            <a href="{% url 'payment-stripe:authorize' %}">Click To Create</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
