{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} Top Ups {% endblock %}

{% block page_heading %}Top Ups{% endblock %}

{% block content %}

    {% if request.user.get_user_sanctions.is_top_up_allowed %}
        <div class="row mb-2">
            <div class="col-12">

                <a class="btn btn-primary" href="{% url 'customer-portal:topup-create' %}">
                    <i class="fa fa-arrow-up"></i> Load Balance
                </a>

            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body">
                    {% if object_list %}
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Transaction ID</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>
                                            <h5 class="text-truncate font-size-14">
                                                <a href="#" class="text-dark">#{{ object.pk }}</a>
                                            </h5>
                                            <p class="text-muted mb-0"></p>
                                        </td>
                                        <td>
                                            <b class=""><i class="fa fa-arrow-up text-success"></i> ${{ object.total }}
                                            </b><br>
                                        </td>
                                        <td>{{ object.created_on }}</td>
                                        <td>
                                    <span class="badge badge-dark">
                                        {{ object.get_payment_method_display }}
                                    </span>
                                        </td>
                                        <td>
                                            {% if object.status == 'com' %}
                                                <b class="text-success"><i
                                                        class="fa fa-check-circle"></i> {{ object.get_status_display }}
                                                </b>
                                            {% elif object.status == 'pen' %}
                                                <b class="text-warning"><i
                                                        class="fa fa-exclamation-triangle"></i>
                                                    {{ object.get_status_display }}
                                                </b>
                                            {% else %}

                                                <b class="text-danger"><i class="fa fa-times-circle"></i>
                                                    {{ object.get_status_display }}
                                                </b>
                                            {% endif %}
                                        <td>
                                            <a href="{% url 'customer-portal:topup-detail' object.pk %}"><b><i
                                                    class="fa fa-eye"></i>
                                                view</b></a>
                                            {% if object.status == 'com' %}
                                                |
                                                <a href="{% url 'customer-portal:topup-invoice' object.pk %}"><b><i
                                                        class="fa fa-print"></i> invoice</b></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="text-danger">
                            <b><i class="fa fa-exclamation-circle"></i> No Top Ups placed yet.</b>
                        </p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    {% if object_list %}
        <div class="row">
            <div class="col-lg-12">
                <ul class="pagination pagination-rounded justify-content-center mt-4">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1"><<</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                <i class="mdi mdi-chevron-left"></i>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item active">
                        <a class="page-link">{{ page_obj.number }}</a>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i
                                    class="mdi mdi-chevron-right"></i></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">>></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}

{% endblock %}
