{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} Top up {% endblock %}

{% block page_heading %}
    {% if object.status == 'com' %}
        <b class="p-2 bg-success text-white"><i class="fa fa-check-circle"></i> {{ object.get_status_display }}</b>
    {% elif object.status == 'pen' %}
        <b class="p-2 bg-warning text-white"><i class="fa fa-exclamation-triangle"></i> {{ object.get_status_display }}</b>
    {% else %}
        <b class="p-2 bg-danger text-white"><i class="fa fa-times-circle"></i> {{ object.get_status_display }}</b>
    {% endif %}
    <b class="p-2 bg-dark text-white"><i class="bx bx-transfer"></i> {{ object.get_payment_method_display }}</b>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-8">

            <div class="card-body border-bottom">
                <p class="my-0 card-title">Top Up Information</p>
            </div>
            <div class="card-body">

                <div class="row mt-4">
                    <div class="col">
                        <div class="avatar-sm mb-4">
                            <span class="avatar-title rounded-circle bg-soft-dark font-size-18">
                                <i class="fa fa-money-bill text-dark"></i>
                            </span>
                        </div>
                        <p class="mb-0 small">Total Amount</p>
                        <p class="h1 mb-0">${{ object.total }}</p>
                    </div>
                    <div class="col">
                        <div class="avatar-sm mb-4">
                            <span class="avatar-title rounded-circle bg-soft-danger font-size-18">
                                <i class="fa fa-coins text-danger"></i>
                            </span>
                        </div>
                        <p class="mb-0 small text-danger">Tax Charges</p>
                        <p class="h1 mb-0 text-danger">${{ object.tax }}</p>
                    </div>
                    <div class="col">
                        <div class="avatar-sm mb-4">
                            <span class="avatar-title rounded-circle bg-soft-dark font-size-18">
                                <i class="fa fa-hands-helping text-dark"></i>
                            </span>
                        </div>
                        <p class="mb-0 small">Load Received</p>
                        <p class="h1 mb-0">${{ object.received }}</p>
                    </div>
                </div>
            </div>
            <div class="card-body border-top">
                <p class="mb-0"><i class="fa fa-calendar"></i> {{ object.created_on }}</p>
            </div>

        </div>
        <div class="col-4">

            <div class="card">
                <div class="card-body border-bottom">
                    <p class="my-0 card-title">Payment Method</p>
                </div>
                <div class="card-body">

                    <div class="text-center">
                        <h1 class="h1 mb-0">
                            <i class="bx bxl-stripe"></i>
                        </h1>
                        <p class="h3 mb-0">Stripe</p>

                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}
