{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} Load Balance {% endblock %}

{% block page_heading %}Load Balance{% endblock %}

{% block content %}

    <div class="checkout-tabs">
        <form method="post">
            <div class="row">

                {# LEFT #}
                <div class="col-xl-2 col-sm-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-payment-tab" data-toggle="pill" href="#v-pills-payment"
                           role="tab" aria-controls="v-pills-payment" aria-selected="true">
                            <i class="bx bx-money d-block check-nav-icon mt-4 mb-2"></i>
                            <p class="font-weight-bold mb-4">Payment Info</p>
                        </a>
                        <a class="nav-link" id="v-pills-confir-tab" data-toggle="pill" href="#v-pills-confir" role="tab"
                           aria-controls="v-pills-confir" aria-selected="false">
                            <i class="bx bx-badge-check d-block check-nav-icon mt-4 mb-2"></i>
                            <p class="font-weight-bold mb-4">Confirmation</p>
                        </a>
                    </div>
                </div>

                {# RIGHT #}
                <div class="col-xl-10 col-sm-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade active show" id="v-pills-payment" role="tabpanel"
                                     aria-labelledby="v-pills-payment-tab">
                                    <div>
                                        <h4 class="card-title">Payment information</h4>
                                        <p class="card-title-desc">Fill all information below</p>

                                        <div>
                                            <div class="custom-control custom-radio custom-control-inline mr-4">
                                                <input type="radio" id="payment_method" name="payment_method"
                                                       class="custom-control-input" checked="">
                                                <label class="custom-control-label" for="payment_method"><i
                                                        class="bx bxl-stripe mr-1 font-size-20 align-top"></i>
                                                    Stripe</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline mr-4">
                                                <input type="radio" id="payment_methodc" name="payment_method"
                                                       class="custom-control-input" disabled>
                                                <label class="custom-control-label" for="payment_methodc"><i
                                                        class="fab fa-cc-mastercard mr-1 font-size-20 align-top"></i>
                                                    Credit / Debit Card</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline mr-4">
                                                <input type="radio" id="payment_methodp" name="payment_method"
                                                       class="custom-control-input" disabled>
                                                <label class="custom-control-label" for="payment_methodp"><i
                                                        class="fab fa-cc-paypal mr-1 font-size-20 align-top"></i>
                                                    Paypal</label>
                                            </div>
                                        </div>

                                        <h5 class="mt-5 mb-3 font-size-15">Moreover</h5>
                                        <div class="p-4 border">
                                            <form>
                                                <div class="form-group mb-0">
                                                    <label for="amount">Amount</label>
                                                    <input type="text" class="form-control" id="amount" name="amount"
                                                           placeholder="00">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-confir" role="tabpanel"
                                     aria-labelledby="v-pills-confir-tab">
                                    <div class="card shadow-none mb-0">
                                        <div class="card-body">
                                            <h4 class="card-title mb-4">Top Up Agreement</h4>
                                            <p>By selecting payment method and amount you will be redirected to
                                                checkout,
                                                make sure to follow the proper procedure to add payments.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-sm-6">
                            <a href="{% url 'customer-portal:topup-list' %}"
                               class="btn text-muted d-none d-sm-inline-block btn-link">
                                <i class="mdi mdi-arrow-left mr-1"></i> Back to TopUp </a>
                        </div> <!-- end col -->
                        <div class="col-sm-6">
                            <div class="text-sm-right">
                                <button type="submit" class="btn btn-success">
                                    <i class="mdi mdi-check mr-1"></i> Checkout
                                </button>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div>

            </div>
        </form>
    </div>

{% endblock %}
