{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %} Load Balance {% endblock %}

{% block page_heading %}Load Balance{% endblock %}

{% block content %}

    <div class="checkout-tabs">
        <form method="post">
            <div class="row">

                {# LEFT #}
                <div class="col-xl-2 col-sm-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-payment-tab" data-toggle="pill" href="#v-pills-payment"
                           role="tab" aria-controls="v-pills-payment" aria-selected="true">
                            <i class="bx bx-money d-block check-nav-icon mt-4 mb-2"></i>
                            <p class="font-weight-bold mb-4">Payment Info</p>
                        </a>
                        <a class="nav-link" id="v-pills-confir-tab" data-toggle="pill" href="#v-pills-confir" role="tab"
                           aria-controls="v-pills-confir" aria-selected="false">
                            <i class="bx bx-badge-check d-block check-nav-icon mt-4 mb-2"></i>
                            <p class="font-weight-bold mb-4">Confirmation</p>
                        </a>
                    </div>
                </div>

                {# RIGHT #}
                <div class="col-xl-10 col-sm-9">
                    <div class="card">

                        <div class="card-body border-bottom">
                            <h4 class="card-title mb-0">Payment information</h4>
                        </div>

                        <div class="card-body">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade active show" id="v-pills-payment" role="tabpanel"
                                     aria-labelledby="v-pills-payment-tab">
                                    <div>
                                        <div id="div_id_country" class="form-group">
                                            <label for="id_country" class=" requiredField">Country
                                                <span class="asteriskField">*</span>
                                            </label>
                                            <div class="">
                                                <select class="form-control" id="country">
                                                    <option value="0">Select your country</option>
                                                    {% for country in countries %}
                                                        <option value="{{ country.pk }}">{{ country.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="" id="pay-div">

                                            <p class="card-title mb-0">Payment Methods</p>
                                            <p class="card-text">Payments methods available in your country</p>

                                            <div class="row" id="pay-methods">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-confir" role="tabpanel"
                                     aria-labelledby="v-pills-confir-tab">
                                    <div class="card shadow-none mb-0">
                                        <div class="card-body">
                                            <h4 class="card-title mb-4">Agreement</h4>
                                            <p>By selecting payment method and amount you will be redirected to
                                                checkout,
                                                make sure to follow the proper procedure complete payments.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-sm-6">
                            <a href="{% url 'customer-portal:withdrawal-list' %}"
                               class="btn text-muted d-none d-sm-inline-block btn-link">
                                <i class="mdi mdi-arrow-left mr-1"></i> Back to Withdrawals </a>
                        </div> <!-- end col -->
                        <div class="col-sm-6">
                            <div class="text-sm-right">
                                <button type="submit" class="btn btn-success">
                                    <i class="mdi mdi-check mr-1"></i> Checkout
                                </button>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div>

            </div>
        </form>
    </div>

{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            let pay_div = $('#pay-div');
            let pay_methods = $('#pay-methods');
            let country = $('#country');

            pay_div.hide();
            country.change(function (event) {
                const value = $(this).val();
                if (value !== '0') {
                    pay_div.show();
                    pay_methods.html('');
                    get_payment_methods_api(value);
                }else{
                    pay_div.hide();
                }
            });

            function get_payment_methods_api(country) {
                $.get('/api/paymentmethod/?country=' + country, function (data) {
                    let html_ = '';
                    for (let i = 0; i < data.length; i++) {
                        html_ += `<div class="cols text-center p-4 bg-light mr-2">
                                                    <a href="#" id="pay-link" class="text-secondary">
                                                        <h3 class="mb-0"><i class="${data[i].icon}" id="pay-icon"></i>
                                                        </h3>
                                                        <p class="mb-0"><b id="pay-name">${data[i].name}</b></p>
                                                    </a>
                                                </div>`;
                    }
                    pay_methods.append(html_);
                });
            }
        })
    </script>
{% endblock %}