{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %} Load Balance {% endblock %}

{% block page_heading %}
    <p>Available balance to withdraw - <b class="text-success">{{ total_available }}</b></p>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <p class="mb-0 card-title">Withdraw</p>
                </div>
                <div class="card-body border-top">

                    {% if external_accounts %}
                        <form method="post">
                            {% csrf_token %}
                            <p id="mb-0"><b>Select your bank/card account</b></p>
                            <table class="table table-hover table-borderless">
                                {% for acc in external_accounts %}
                                    <tr>
                                        <td style="width: 45px;">
                                            <div class="avatar-sm">
                                        <span class="avatar-title rounded-circle bg-primary
                                        bg-soft text-light font-size-24">
                                            <i class="bx bxs-bank"></i>
                                        </span>
                                            </div>
                                        </td>
                                        <td>
                                            <h5 class="font-size-14 mb-0">
                                                <a href="#" class="text-dark">{{ acc.account_number }} </a>
                                            </h5>
                                            <p class="mb-0"><b>{{ acc.routing_number }}</b></p>
                                            <p class="mb-0">
                                                <small>
                                                    Registered bank account - allowed payments and withdrawals
                                                </small>
                                            </p>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <input type="radio" value="{{ acc.pk }}" id="external_account"
                                                       name="external_account">
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </table>
                            <div>
                                <p id="mb-0"><b>Amount to Withdraw</b></p>
                                <input id="amount" name="amount" type="number" class="border-0 bg-light p-3" width="200"
                                       placeholder="5">
                            </div>

                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary" id="submit" name="submit">Submit</button>
                            </div>
                        </form>
                    {% else %}
                        <p class="text-danger mb-0">
                            <b>
                                You don't have any verified external account (bank/card), if you don't have any account
                                create/attach <a href="{% url 'payment-stripe:connect-external-account-create' %}">
                                Here </a>.
                            </b>
                        </p>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="">
                <div class="card-body border-bottom">
                    <p class="mb-0 card-title text-danger"><a><i class="fa fa-exclamation-circle"></i> Notice</a></p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>
                            Withdrawals are very sensitive and secure setup, we take heavy measures to safely transfer funds
                        to your banks/card, so make sure to follow the proper guide, please read the instructions below
                        </b>
                    </p>
                    <ol class="list-unstyled">
                        <li class="mb-2">
                            Withdrawals are related to your <b><a href="#">Connect Account</a></b>, so <b><a href="#">
                            Transfer</a></b> your funds to
                            your connect account then apply for withdrawal, you can't withdraw funds directly
                            from wallet
                        </li>
                        <li class="mb-2">
                            Make sure you have <b><a href="#">Attached</a></b> your bank account/card to your connect
                            account then <b><a href="#">Verify</a></b> it, you can
                            add more than one accounts and can withdraw funds to any of them.
                        </li>
                        <li class="mb-1">
                            Withdrawals will take some time it varies from region and bank account type, it may be
                            within minutes or within 2 t 3 days.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            let pay_div = $('#pay-div');
            let pay_methods = $('#pay-methods');
            let country = $('#country');

            pay_div.hide();
            country.change(function (event) {
                const value = $(this).val();
                if (value !== '0') {
                    pay_div.show();
                    pay_methods.html('');
                    get_payment_methods_api(value);
                } else {
                    pay_div.hide();
                }
            });

            function get_payment_methods_api(country) {
                $.get('/api/paymentmethod/?country=' + country, function (data) {
                    let html_ = '';
                    for (let i = 0; i < data.length; i++) {
                        html_ += `<div class="cols text-center p-4 bg-light mr-2">
                                                    <a href="#" id="pay-link" class="text-secondary">
                                                        <h3 class="mb-0"><i class="${data[i].icon}" id="pay-icon"></i>
                                                        </h3>
                                                        <p class="mb-0"><b id="pay-name">${data[i].name}</b></p>
                                                    </a>
                                                </div>`;
                    }
                    pay_methods.append(html_);
                });
            }
        })
    </script>
{% endblock %}