{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %} Load Balance {% endblock %}

{% block page_heading %}
    <p>Available balance to withdraw - <b>{{ total_available }}</b></p>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <p class="mb-0 card-title">Withdraw</p>
                </div>
                <div class="card-body border-top">

                    <form method="post">
                        {% csrf_token %}
                        <p id="mb-0"><b>Select your external account</b></p>
                        <table class="table table-hover table-borderless">
                            <tr>
                                <td style="width: 45px;">
                                    <div class="avatar-sm"><span
                                            class="avatar-title rounded-circle bg-primary bg-soft text-light font-size-24"><i
                                            class="bx bxs-bank"></i></span></div>
                                </td>
                                <td>
                                    <h5 class="font-size-14 mb-0">
                                        <a href="#" class="text-dark">PKUL23682763827 </a>
                                    </h5>
                                    <p class="mb-0"><b>36748</b></p>
                                    <p class="mb-0"><small>Registered bank account - allowed payments and
                                        withdrawals</small></p>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <input type="radio" value="1" id="external_account" name="external_account">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div>
                            <p id="mb-0"><b>Amount to Withdraw</b></p>
                            <input id="amount" name="amount" type="number" class="border-0 bg-light p-3" width="200"
                                   placeholder="5">
                        </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary" id="submit" name="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>

{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            let pay_div = $('#pay-div');
            let pay_methods = $('#pay-methods');
            let country = $('#country');

            pay_div.hide();
            country.change(function (event) {
                const value = $(this).val();
                if (value !== '0') {
                    pay_div.show();
                    pay_methods.html('');
                    get_payment_methods_api(value);
                } else {
                    pay_div.hide();
                }
            });

            function get_payment_methods_api(country) {
                $.get('/api/paymentmethod/?country=' + country, function (data) {
                    let html_ = '';
                    for (let i = 0; i < data.length; i++) {
                        html_ += `<div class="cols text-center p-4 bg-light mr-2">
                                                    <a href="#" id="pay-link" class="text-secondary">
                                                        <h3 class="mb-0"><i class="${data[i].icon}" id="pay-icon"></i>
                                                        </h3>
                                                        <p class="mb-0"><b id="pay-name">${data[i].name}</b></p>
                                                    </a>
                                                </div>`;
                    }
                    pay_methods.append(html_);
                });
            }
        })
    </script>
{% endblock %}