{% extends 'website/base.html' %}
{% load static %}

{% block title %}
    About Us
{% endblock %}

{% block content %}

    <div class="breadcrumb bg-white-lilac ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-xs-10">
                    <div class="page-title-block-two breadcrumb__content text-center">
                        <h1 class="title">About Us</h1>
                        <p class="text-dark">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb__navigation">
            <p class="breadcrumb__navigation--text"><a class="d-block heading-dark" href="/">Home</a><span
                    class="dot"></span><span class="page-text">About Us</span></p>
        </div>
    </div>

    <div class="about-content-section-01">
        <div class="container">
            <div class="about-content-section-01__content">
                <div class="row align-items-center align-items-xxl-end justify-content-center">
                    <div class="col-xl-6 col-lg-9 col-md-10">
                        <div class="section-title-block content-one text-center text-xl-start">
                            <h6 class="subtitle text-primary mb-10">About our company</h6>
                            <h2 class="title">We Treat Our Clients Friendly with An Unparalleled Level of Service.</h2>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-9 col-md-10">
                        <div class="section-title-block content-tow text-center text-xl-start">
                            <p class="text-dark">Euismod aliquet odio cursus lacus, ut sit suspendisse ultrices. Etiam
                                enim risus faucibus feugiat ut enim in sed tincidunt. Eu in justo, eu porttitor vivamus
                                neque, libero diam.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-content-section-01__image-group">
                <img src="{% static 'website/image/about/content-1.png' %}" alt="content-image" class="w-100">
            </div>
        </div>
    </div>

    <div class="counter-section-02">
        <div class="container">
            <div class="counter-wrapper">
                <div class="count-block">
                    <div class="icon">
                        <img src="{% static 'website/image/l-2/counter-1.png' %}" alt="icon">
                    </div>
                    <div class="counter-content section-content-block text-center">
                        <h3 class="title heading-dark"><span class="counter">868</span></h3>
                        <p class="text-dark">Startups</p>
                    </div>
                </div>
                <div class="count-block">
                    <div class="icon">
                        <img src="{% static 'website/image/l-2/counter-2.png' %}" alt="icon">
                    </div>
                    <div class="counter-content section-content-block text-center">
                        <h3 class="title heading-dark"><span class="counter">372</span></h3>
                        <p class="text-dark">Startups</p>
                    </div>
                </div>
                <div class="count-block">
                    <div class="icon">
                        <img src="{% static 'website/image/l-2/counter-3.png' %}" alt="icon">
                    </div>
                    <div class="counter-content section-content-block text-center">
                        <h3 class="title heading-dark"><span class="counter">14</span></h3>
                        <p class="text-dark">Startups</p>
                    </div>
                </div>
                <div class="count-block">
                    <div class="icon">
                        <img src="{% static 'website/image/l-2/counter-4.png' %}" alt="icon">
                    </div>
                    <div class="counter-content section-content-block text-center">
                        <h3 class="title heading-dark"><span class="counter">43</span></h3>
                        <p class="text-dark">Startups</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-content-section-02 bg-white-lilac">
        <div class="container">
            <div class="section-title-block text-center">
                <h6 class="subtitle mb-10 text-primary">Our Story & Mission</h6>
                <h2 class="title">The Story and mission Behind <br class=" d-none d-xs-block">
                    Our Company</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <div class="about-content-section-02__content content-one">
                        <div class="image-group">
                            <img src="{% static 'website/image/about/content-1--1.png' %}" alt="content-image">
                        </div>
                        <div class="content-area">
                            <h6 class="title">We Are on the Mission to Increase Your Business</h6>
                            <p class="text text-dark">Lorem ipsum dolor sit amet consectetur adipiscing elit vel
                                consectetur fusce lorem elit maecenas et faucibus nulla arcu sem. In semperi ips
                                pellentesque. A feugiat vitae id felis rhoncus tristique. Suscipit diam massa et ut
                                euismodu nibh quis pretium, ut enim proin lobortis turpis sagittis.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10">
                    <div class="about-content-section-02__content content-two">
                        <div class="content-area">
                            <h6 class="title">We Are on the Mission to Increase Your Business</h6>
                            <p class="text text-dark">Lorem ipsum dolor sit amet consectetur adipiscing elit vel
                                consectetur fusce lorem elit maecenas et faucibus nulla arcu sem. In semperi ips
                                pellentesque. A feugiat vitae id felis rhoncus tristique. Suscipit diam massa et ut
                                euismodu nibh quis pretium, ut enim proin lobortis turpis sagittis.</p>
                        </div>
                        <div class="image-group">
                            <img src="{% static 'website/image/about/content-1--2.png' %}" alt="content-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="faq-section-03">
        <div class="container">
            <div class="faq-section-03__wrapper">
                <div class="single-item">
                    <img src="{% static 'website/image/logo/microsoft.png' %}" alt="microsoft">
                </div>
                <div class="single-item">
                    <img src="{% static 'website/image/logo/hubspot.png' %}" alt="hubspot">
                </div>
                <div class="single-item">
                    <img src="{% static 'website/image/logo/slack.png' %}" alt="slack">
                </div>
                <div class="single-item">
                    <img src="{% static 'website/image/logo/trustpilot.png' %}" alt="trustpilot">
                </div>
                <div class="single-item">
                    <img src="{% static 'website/image/logo/xboxone.png' %}" alt="xboxone">
                </div>
            </div>
        </div>
    </div>

    <div class="team-section-01">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title-block text-center">
                    <h6 class="subtitle mb-10 text-primary">Team Member</h6>
                    <h2 class="title">Meet Our Great Team</h2>
                </div>
            </div>
            <div class="row card-row justify-content-center">
                <div class="col-lg-3 col-sm-6 col-xs-8" data-aos="fade-up" data-aos-delay="150" data-aos-duration="800">
                    <div class="card-team-01 ">
                        <div class="card-img">
                            <img src="{% static 'website/image/l-4/team-1.png' %}" alt="img" class="w-100">
                            <div class="card-social">
                                <ul class="list-unstyled list-group">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="name">Miranda Halim</h6>
                            <h6 class="position">CEO &amp; Founder</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-8" data-aos="fade-up" data-aos-delay="300" data-aos-duration="800">
                    <div class="card-team-01 ">
                        <div class="card-img">
                            <img src="{% static 'website/image/l-4/team-2.png' %}" alt="img" class="w-100">
                            <div class="card-social">
                                <ul class="list-unstyled list-group">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="name">Micheal Carlo</h6>
                            <h6 class="position">CEO &amp; Founder</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-8" data-aos="fade-up" data-aos-delay="450" data-aos-duration="800">
                    <div class="card-team-01 ">
                        <div class="card-img">
                            <img src="{% static 'website/image/l-4/team-3.png' %}" alt="img" class="w-100">
                            <div class="card-social">
                                <ul class="list-unstyled list-group">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="name">Sonia Paul</h6>
                            <h6 class="position">Web Designer</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-8" data-aos="fade-up" data-aos-delay="600" data-aos-duration="800">
                    <div class="card-team-01 ">
                        <div class="card-img">
                            <img src="{% static 'website/image/l-4/team-4.png' %}" alt="img" class="w-100">
                            <div class="card-social">
                                <ul class="list-unstyled list-group">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="name">Mark Ronson</h6>
                            <h6 class="position">Web Developer</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feature-section-01 bg-white-lilac overflow-hidden">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="section-title-block text-center">
                    <h6 class="subtitle text-primary mb-10">Our core values & principles</h6>
                    <h2 class="title">The Values That Shape Everything<br class=" d-none d-xs-block">We Do at Bestkit
                    </h2>
                </div>
            </div>
            <div class="row card-row justify-content-center overflow-hidden">
                <div class="col-md-6 col-xl-4 single-slider" data-aos="fade-up" data-aos-delay="150"
                     data-aos-duration="800">
                    <div class="card feature-card ">
                        <div class="card-img ">
                            <img src="{% static 'website/image/l-2/f-1.svg' %}" alt="feature" class="make-it-inline">
                        </div>
                        <div class="card-content">
                            <h6>Team work</h6>
                            <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit eque dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 single-slider" data-aos="fade-up" data-aos-delay="300"
                     data-aos-duration="800">
                    <div class="card feature-card ">
                        <div class="card-img ">
                            <img src="{% static 'website/image/l-2/f-2.svg' %}" alt="feature" class="make-it-inline">
                        </div>
                        <div class="card-content">
                            <h6>Comapny Growth</h6>
                            <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit eque dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 single-slider" data-aos="fade-up" data-aos-delay="450"
                     data-aos-duration="800">
                    <div class="card feature-card ">
                        <div class="card-img ">
                            <img src="{% static 'website/image/l-2/f-3.svg' %}" alt="feature" class="make-it-inline">
                        </div>
                        <div class="card-content">
                            <h6>Move Like a Startup</h6>
                            <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit eque dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 single-slider" data-aos="fade-up" data-aos-delay="600"
                     data-aos-duration="800">
                    <div class="card feature-card ">
                        <div class="card-img ">
                            <img src="{% static 'website/image/l-2/f-4.svg' %}" alt="feature" class="make-it-inline">
                        </div>
                        <div class="card-content">
                            <h6>Take Ownership</h6>
                            <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit eque dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 single-slider" data-aos="fade-up" data-aos-delay="750"
                     data-aos-duration="800">
                    <div class="card feature-card ">
                        <div class="card-img ">
                            <img src="{% static 'website/image/l-2/f-5.svg' %}" alt="feature" class="make-it-inline">
                        </div>
                        <div class="card-content">
                            <h6>Results Matter</h6>
                            <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit eque dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 single-slider" data-aos="fade-up" data-aos-delay="900"
                     data-aos-duration="800">
                    <div class="card feature-card ">
                        <div class="card-img ">
                            <img src="{% static 'website/image/l-2/f-6.svg' %}" alt="feature" class="make-it-inline">
                        </div>
                        <div class="card-content">
                            <h6>Innovation</h6>
                            <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit eque dolor.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feature-section-01__button">
                <a class="btn btn-primary" href="#">
                    Get In Touch
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="testimonial-section-02">
        <div class="container">
            <div class="row align-items-end testimonial-section-02__content">
                <div class="col-lg-6 col-xl-5 col-xxl-4 col-xs-9">
                    <div class="section-content-block mb-3 mb-sm-0">
                        <h6 class="mb-10 text-primary subtitle">Testimonial</h6>
                        <h2 class="title">See What Others Have
                            to Say About Us</h2>
                    </div>
                </div>
                <div class="col-xxl-8 col-lg-6 col-xs-3">
                    <div class="testimonial-slider--02__control-buttons text-end">
                        <button class="button button--prev">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 6.5H1" stroke="" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M6.43115 1L1.00012 6.5L6.43115 12" stroke="" stroke-width="2"
                                      stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <button class="button button--next">
                            <svg width="17" height="13" viewBox="0 0 17 13" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 6.5H16" stroke="" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M10.5688 1L15.9999 6.5L10.5688 12" stroke="" stroke-width="2"
                                      stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="testimonial-section-02__slider">
                <div class="testimonial-slider--02">
                    <div class="single-slide">
                        <div class="testimonial-card-02">
                            <div class="testimonial-card-02__content testimonial-card-02__content--v2">
                                <div class="quote">
                                    <svg width="43" height="30" viewBox="0 0 43 30" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M42.0034 12H33.0034L39.0035 1.90735e-06H30.0034L24.0034 12V30H42.0034V12Z"
                                              fill="#DEE7EE"/>
                                        <path d="M18 30V12H9L15 1.90735e-06H6.00004L-3.8147e-06 12V30H18Z"
                                              fill="#DEE7EE"/>
                                    </svg>
                                </div>
                                <div class="text">
                                    <p>Lorem Ipsum is a simply dummy text of an the printing and type settings for has
                                        been the industry's standard dumy text the ever since unknown printer.</p>
                                </div>
                            </div>
                            <div class="testimonial-card-02__client">
                                <div class="avatar">
                                    <img src="{% static 'website/image/l-2/avatar-1.png' %}" alt="client" class="w-100">
                                </div>
                                <div class="client-info">
                                    <h6>Jhon Smith</h6>
                                    <p>Web Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="testimonial-card-02">
                            <div class="testimonial-card-02__content testimonial-card-02__content--v2">
                                <div class="quote">
                                    <svg width="43" height="30" viewBox="0 0 43 30" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M42.0034 12H33.0034L39.0035 1.90735e-06H30.0034L24.0034 12V30H42.0034V12Z"
                                              fill="#DEE7EE"/>
                                        <path d="M18 30V12H9L15 1.90735e-06H6.00004L-3.8147e-06 12V30H18Z"
                                              fill="#DEE7EE"/>
                                    </svg>
                                </div>
                                <div class="text">
                                    <p>Lorem Ipsum is a simply dummy text of an the printing and type settings for has
                                        been the industry's standard dumy text the ever since unknown printer.</p>
                                </div>
                            </div>
                            <div class="testimonial-card-02__client">
                                <div class="avatar">
                                    <img src="{% static 'website/image/l-2/avatar-2.png' %}" alt="client" class="w-100">
                                </div>
                                <div class="client-info">
                                    <h6>John Doe</h6>
                                    <p>UI/UX Designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="testimonial-card-02">
                            <div class="testimonial-card-02__content testimonial-card-02__content--v2">
                                <div class="quote">
                                    <svg width="43" height="30" viewBox="0 0 43 30" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M42.0034 12H33.0034L39.0035 1.90735e-06H30.0034L24.0034 12V30H42.0034V12Z"
                                              fill="#DEE7EE"/>
                                        <path d="M18 30V12H9L15 1.90735e-06H6.00004L-3.8147e-06 12V30H18Z"
                                              fill="#DEE7EE"/>
                                    </svg>
                                </div>
                                <div class="text">
                                    <p>Lorem Ipsum is a simply dummy text of an the printing and type settings for has
                                        been the industry's standard dumy text the ever since unknown printer.</p>
                                </div>
                            </div>
                            <div class="testimonial-card-02__client">
                                <div class="avatar">
                                    <img src="{% static 'website/image/l-2/avatar-3.png' %}" alt="client" class="w-100">
                                </div>
                                <div class="client-info">
                                    <h6>Jesica Lirona</h6>
                                    <p>Front End Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide">
                        <div class="testimonial-card-02">
                            <div class="testimonial-card-02__content testimonial-card-02__content--v2">
                                <div class="quote">
                                    <svg width="43" height="30" viewBox="0 0 43 30" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M42.0034 12H33.0034L39.0035 1.90735e-06H30.0034L24.0034 12V30H42.0034V12Z"
                                              fill="#DEE7EE"/>
                                        <path d="M18 30V12H9L15 1.90735e-06H6.00004L-3.8147e-06 12V30H18Z"
                                              fill="#DEE7EE"/>
                                    </svg>
                                </div>
                                <div class="text">
                                    <p>Lorem Ipsum is a simply dummy text of an the printing and type settings for has
                                        been the industry's standard dumy text the ever since unknown printer.</p>
                                </div>
                            </div>
                            <div class="testimonial-card-02__client">
                                <div class="avatar">
                                    <img src="{% static 'website/image/l-2/avatar-2.png' %}" alt="client" class="w-100">
                                </div>
                                <div class="client-info">
                                    <h6>John Doe</h6>
                                    <p>UI/UX Designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
