{% load static %}
<!doctype html>

<html lang="zxx">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" href="{% static "core/images/logo-50.png" %}">

    <title>
        {% block title %}
            SkiSip Wallet |
            {% block sub_title %}
                Home
            {% endblock %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'website/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'website/fonts/typography-font/typo.css' %}"/>
    <link rel="stylesheet" href="{% static 'website/fonts/fontawesome-5/css/all.css' %}"/>

    <link rel="stylesheet" href="{% static 'website/plugins/aos/aos.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/plugins/fancybox/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/plugins/nice-select/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/plugins/slick/slick.min.css' %}">

    <link rel="stylesheet" href="{% static 'website/css/main.css' %}"/>

    {% block css_links %}
    {% endblock %}

</head>
<body>

<div class="preloader-wrapper" id="loader">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
</div>
<div class="site-wrapper overflow-hidden">

    {% block header %}
        {% include 'website/include/header.html' %}
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
        {% include 'website/include/footer.html' %}
    {% endblock %}
</div>

<script src="{% static 'website/js/vendor.min.js' %}"></script>
<script src="{% static 'website/plugins/fancybox/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'website/plugins/nice-select/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'website/plugins/aos/aos.min.js' %}"></script>
<script src="{% static 'website/plugins/counter-up/jquery.counterup.min.js' %}"></script>
<script src="{% static 'website/plugins/counter-up/waypoints.min.js' %}"></script>
<script src="{% static 'website/plugins/slick/slick.min.js' %}"></script>
<script src="{% static 'website/plugins/skill-bar/skill.bars.jquery.html' %} "></script>
<script src="{% static 'website/plugins/isotope/isotope.pkgd.min.js' %}"></script>

<script src="{% static 'website/js/custom.js' %}"></script>
<script src="{% static 'website/js/slider-activations.js' %}"></script>
<script src="{% static 'website/js/menu.js' %}"></script>

{% block internal_js %}

{% endblock %}


</body>
</html>

{% block external_js %}{% endblock %}