{% extends 'website/base.html' %}
{% load static %}

{% block sub_title %}
    {{ object.title }}
{% endblock %}

{% block content %}

    <div class="breadcrumb bg-white-lilac ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-xs-10">
                    <div class="page-title-block-two breadcrumb__content text-center">
                        <h1 class="title">{{ object.title }}</h1>
                        <p class="text-dark">{{ object.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb__navigation">
            <p class="breadcrumb__navigation--text"><a class="d-block heading-dark" href="{% url 'website:blog' %}">Blog</a><span
                    class="dot"></span><span class="page-text">Blog Details</span></p>
        </div>
    </div>

    <div class="blog-details-area">
        <div class="container">
            <div class="blog-details-area__wrapper">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-8 col-xs-10 order-lg-2">
                        <div class="blog-content-area__categories">
                            <div class="categories-block">
                                <h6 class="content-title heading-dark">Categories</h6>

                                {% if article_categories %}
                                    <ul>
                                        {% for article_category in article_categories %}

                                            <li>
                                                <a href="#"><span class="text">{{ article_category.name }}</span></a>
                                            </li>

                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p class="text-danger mt-4">
                                        <b><i class="fa fa-exclamation-circle"></i> Tags are not defined yet.</b>
                                    </p>
                                {% endif %}


                            </div>
                        </div>
                        <div class="blog-content-area__tags">
                            <div class="tags-block">
                                <h6 class="content-title heading-dark">Tags</h6>

                                {% if article_tags %}
                                    <ul>
                                        {% for article_tag in article_tags %}

                                            <li>
                                                <a href="#">
                                                    {{ article_tag.name }}
                                                </a>
                                            </li>

                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p class="text-danger mt-2">
                                        <b><i class="fa fa-exclamation-circle"></i> Categories are not defined yet.</b>
                                    </p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 order-lg-1">
                        <div class="blog-details-area__content">
                            <div class="blog-details-area__content--card">
                                <div class="blog-details-card">
                                    {% if article_recent.banner_image %}
                                        <img src="{{ article_recent.banner_image.url }}" class="w-100"
                                             alt="card">
                                    {% else %}
                                        <img src="{% static 'core/images/noimage.jpg' %}" class="w-100"
                                             alt="card">
                                    {% endif %}
                                    <div class="card-img">
                                    </div>
                                    <div class="card-body">
                                        <div class="meta">
                                            <div class="meta__date">
                                                <span class="date text-dark"><img
                                                        src="{% static 'website/image/svg/calendar.svg' %}"> {{ object.created_on }} </span>
                                            </div>
                                            <div class="meta__time">
                                            <span class="time text-dark"><img
                                                    src="{% static 'website/image/svg/clock.svg' %}"> {{ object.read_time }} min read </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-details-area__content--quote">
                                {{ object.detailed_description|safe }}
                            </div>
                            <div class="blog-details-area__content--group">
                                <div class="popular-tags">
                                    <h6>Popular Tags:</h6>
                                    <ul>
                                        {% for tag in object.keywords.all %}
                                            <li><a href="#">{{ tag.name }}</a></li>
                                        {% endfor %}

                                    </ul>
                                </div>
                                <div class="share-block">
                                    <h6>Share With:</h6>
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-section-02">
        <div class="container">
            <div class="row align-items-center justify-content-center blog-section-02__content">
                <div class="col-sm-6">
                    <div class="section-content-block text-center text-sm-start">
                        <h6 class="subtitle text-primary mb-10">Blog & News</h6>
                        <h2 class="title">Our Latest Blog & News</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="section-button text-center mt-4 mt-sm-0 text-sm-end">
                        <a class="btn btn-1 btn-primary" href="blog.html">
                            Read Our Blogs
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row card-row justify-content-center">

                {% if article_recents %}
                    {% for article_recent in article_recents %}

                        <div class="col-md-6 col-xl-4" data-aos="fade-up" data-aos-delay="150" data-aos-duration="800">
                            <a href="{% url 'website:blog-detail' article_recent.slug %}" class="d-block">
                                <div class="card-blog card-blog--02">
                                    <div class="card-image">

                                        {% if article_recent.banner_image %}
                                            <img src="{{ article_recent.banner_image.url }}" class="w-100"
                                                 alt="card">
                                        {% else %}
                                            <img src="{% static 'core/images/no_content.png' %}" class="w-100"
                                                 alt="card">
                                        {% endif %}

                                        <div class="meta">
                                            <span class="text-dark">{{ article_recent.created_on }}</span>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="titel">{{ article_recent.title }}</h6>
                                        <p class="text-dark">{{ article_recent.description }}</p>
                                        <div class="author-block">
                                            <div class="d-flex align-items-center">
                                                <div class="author">
                                                    <img src="{% static 'core/images/no-user.png' %}"
                                                         alt="author">
                                                </div>
                                                <div class="author-name">
                                                    <h6 class="heading-dark">{{ article_recent.posted_by.username }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}




