{% extends 'website/base.html' %}
{% load custom_tags %}
{% load static %}

{% block sub_title %}
    Blog
{% endblock %}

{% block content %}
    <div class="breadcrumb bg-white-lilac ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-xs-10">
                    <div class="page-title-block-two breadcrumb__content text-center">
                        <h1 class="title">Our Blogs</h1>
                        <p class="text-dark">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb__navigation">
            <p class="breadcrumb__navigation--text"><a class="d-block heading-dark" href="/">Home</a><span
                    class="dot"></span><span class="page-text">Our Blog</span></p>
        </div>
    </div>

    <div class="blog-content-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8 col-xs-10 order-lg-2">
                    <div class="blog-content-area__search">
                        <div class="search-block">
                            <h6 class="content-title heading-dark">Search Anything</h6>
                            <div class="search-block__form">
                                <div class="search-newsletter-02">
                                    <form method="get">
                                        <div class="form-group">
                                            <input type="text" name="title__icontains" id="id_title__icontains"
                                                   class="form-control" placeholder="Enter keywords...">
                                        </div>
                                        <button type="submit" class="btn btn-primary">
                                            Search
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333Z"
                                                      stroke="white" stroke-width="2" stroke-linecap="round"
                                                      stroke-linejoin="round"/>
                                                <path d="M17.5 17.5L13.875 13.875" stroke="white" stroke-width="2"
                                                      stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content-area__post">
                        <div class="blog-post-box">
                            <h3 class="content-title">Recent Post</h3>
                            <div class="blog-post-box__single-post overflow-hidden">

                                {% if article_recents %}
                                    {% for article_recent in article_recents %}
                                        <div class="single-post" data-aos="fade-up" data-aos-delay="150"
                                             data-aos-duration="800">
                                            <a href="{% url 'website:blog-detail' article_recent.slug %}" class="d-block">
                                                <div class="card-post">
                                                    <div class="post-img">
                                                        {% if article_recent.thumbnail %}
                                                            <img src="{{ article_recent.thumbnail.url }}"
                                                                 alt="card-img">
                                                        {% else %}
                                                            <img src="{% static 'core/images/no-file.jpg' %}"
                                                                 alt="card-img">
                                                        {% endif %}
                                                    </div>
                                                    <div class="post-content">
                                                        <div class="meta">
                                                    <span><img src="{% static 'website/image/svg/calendar-2.svg' %}"
                                                               alt='calendar'/> {{ article_recent.created_on }}</span>
                                                        </div>
                                                        <h6 class="post-title">{{ article_recent.title }}</h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p class="text-danger mt-4">
                                        <b><i class="fa fa-exclamation-circle"></i> Articles not found.</b>
                                    </p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="blog-content-area__categories">
                        <div class="categories-block">
                            <h6 class="content-title heading-dark">Categories</h6>

                            {% if article_categories %}
                                <ul>
                                    {% for article_category in article_categories %}

                                        <li>
                                            <a href="#"><span class="text">{{ article_category.name }}</span></a>
                                        </li>

                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p class="text-danger mt-4">
                                    <b><i class="fa fa-exclamation-circle"></i> Tags are not defined yet.</b>
                                </p>
                            {% endif %}


                        </div>
                    </div>
                    <div class="blog-content-area__tags">
                        <div class="tags-block">
                            <h6 class="content-title heading-dark">Tags</h6>

                            {% if article_tags %}
                                <ul>
                                    {% for article_tag in article_tags %}

                                        <li>
                                            <a href="#">
                                                {{ article_tag.name }}
                                            </a>
                                        </li>

                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p class="text-danger mt-2">
                                    <b><i class="fa fa-exclamation-circle"></i> Categories are not defined yet.</b>
                                </p>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="col-lg-8 order-lg-1">
                    <div class="blog-content-area__card overflow-hidden">
                        <div class="row card-row">
                            {% if article_list %}
                                {% for article in article_list %}

                                    <div class="col-12" data-aos="fade-up" data-aos-delay="150" data-aos-duration="800">
                                        <a href="{% url 'website:blog-detail' article.slug %}" class="d-block">
                                            <div class="card-blog card-blog--03">
                                                <div class="card-image">
                                                    {% if article_recent.thumbnail %}
                                                        <img src="{{ article_recent.thumbnail.url }}"
                                                             alt="card">
                                                    {% else %}
                                                        <img src="{% static 'core/images/no-file.jpg' %}"
                                                             alt="card">
                                                    {% endif %}
                                                </div>
                                                <div class="card-body">
                                                    <div class="meta">
                                                        <div class="meta__date">
                                                    <span class="date text-dark">
                                                        <img alt='calendar'
                                                             src="{% static 'website/image/svg/calendar.svg' %}"/>
                                                        {{ article.created_on }}
                                                    </span>
                                                        </div>
                                                        <div class="meta__time">
                                                    <span class="time text-dark">
                                                        <img alt='clock'
                                                             src="{% static 'website/image/svg/clock.svg' %}"/>
                                                        {{ article.read_time }} min read
                                                    </span>
                                                        </div>
                                                    </div>
                                                    <h6 class="titel">{{ article.title }}</h6>
                                                    <p class="text text-dark">{{ article.description }}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                {% endfor %}
                            {% else %}
                                <div class="col-12" data-aos="fade-up" data-aos-delay="150" data-aos-duration="800">
                                    <p class="text-danger mt-4">
                                        <b><i class="fa fa-exclamation-circle"></i> Articles not found.</b>
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="blog-content-area__button">
                <ul class="pagination">
                    {% if article_list.has_previous %}
                        <li>
                            <span>
                                <a href="{% relative_url article_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous
                                </a>
                            </span>
                        </li>
                    {% endif %}
                    <li class="">
                        <span>Page {{ article_list.number }} of {{ article_list.paginator.num_pages }}.</span>
                    </li>
                    {% if article_list.has_next %}
                        <li>
                            <span>
                                <a href="{% relative_url article_list.next_page_number 'page' request.GET.urlencode %}">
                                    Next
                                </a>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


