{% extends 'website/base.html' %}
{% load static %}

{% block sub_title %}
    Privacy Policy
{% endblock %}

{% block content %}

    <div class="breadcrumb bg-white-lilac ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-xs-10">
                    <div class="page-title-block-two breadcrumb__content text-center">
                        <h1 class="title">Privacy Policies</h1>
                        <p class="text-dark">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb__navigation">
            <p class="breadcrumb__navigation--text"><a class="d-block heading-dark" href="/">Home</a><span
                    class="dot"></span><span class="page-text">Blog Details</span></p>
        </div>
    </div>
    <div class="container py-5">
        <div class="row py-4 justify-content-center">
            <div class="col-12 py-lg-4">

                <h1 class="mb-4">General</h1>

                <p>The Online Account Filing understands that your privacy is important to you and that you care
                    about how your personal data is used and shared online. We respect and value the privacy of
                    everyone who visits this website, <a href="https://www.onlineaccountfiling.com/">www.onlineaccountfiling.com</a>
                    (“Our Site”) and will only
                    collect and use personal data in ways that are described here, and in a manner that is consistent
                    with Our obligations and your rights under the law.</p>
                <p>Please read this Privacy Policy carefully and ensure that you understand it. Your acceptance of
                    Our Privacy Policy is deemed to occur upon your first use of Our Site. If you do not accept and
                    agree with this Privacy Policy, you must stop using Our Site immediately.</p>

                <h2>Definitions and Interpretation</h2>
                <p>In this Policy, the following terms shall have the following meanings:</p>

                <h3>1. "Account"</h3>
                <p>means an account required to access and/or use certain areas and features of Our Site;</p>

                <h3>2. "Cookie"</h3>
                <p>means a small text file placed on your computer or device by Our Site when you visit
                    certain parts of Our Site and/or when you use certain features of Our Site. Details of the
                    Cookies used by Our Site are set out in the Cookies Policy.</p>

                <h3>3. "Cookie Law"</h3>
                <p>means the relevant parts of the Privacy and Electronic Communications (EC Directive)
                    Regulations 2003;</p>

                <h3>4. "Personal Data"</h3>
                <p>means any and all data that relates to an identifiable person who can be directly or
                    indirectly identified from that data. In this case, it means personal data that you give to
                    Us via Our Site. This definition shall, where applicable, incorporate the definitions
                    provided in the Data Protection Act 1998 and EU Regulation 2016/679 – the General
                    Data Protection Regulation (“GDPR”);</p>

                <h3>5. "We/Us/Our"</h3>
                <p>Online Account Filing, as the creator, operator, and publisher of the Website, makes the
                    Website and certain Services on it, available to users.</p>

                <h3>6. “You, the User, the Client”</h3>
                <p>You, as the user of the Website, will be referred to throughout this Agreement.</p>

                <h3>7. “Parties”</h3>
                <p>Collectively, the parties to this Agreement (the Company and You) will be referred to as
                    Parties.</p>


                <h2>What Does This Policy Cover?</h2>
                <p>This Privacy Policy applies only to your use of Our Site. Our Site may contain links to other
                    websites. Please note that We have no control over how your data is collected, stored, or used by
                    other websites and We advise you to check the privacy policies of any such websites before
                    providing any data to them.</p>

                <h3>Your Rights</h3>
                <ol>
                    <li>As a data subject, you have the following rights under the GDPR, which this Policy and
                        Our use of personal data have been designed to uphold.
                    </li>
                    <li>The right to be informed about Our collection and use of personal data.</li>
                    <li>The right of access to the personal data We hold about you.</li>
                    <li>The right to rectification if any personal data We hold about you is inaccurate or
                        incomplete (please contact Us through email <a href="mailto:info@onlineaccountfiling.com">info@onlineaccountfiling.com</a>
                        or over the
                        phone at <a href="tel:+442038059113" title="Call us"><span
                                class="fw-semibold">020 3805 9113</span></a>).
                    </li>
                    <li>The right to be forgotten – i.e. the right to ask Us to delete any personal data We hold
                        about you (We only hold your personal data for a limited time, as explained in <span
                                class="fw-semibold">“How Do
                        We Use Your Data?”</span> but if you would like Us to delete it sooner, please contact Us
                        through email <a href="mailto:info@onlineaccountfiling.com">info@onlineaccountfiling.com</a> or
                        over the phone at<br>
                        <a href="tel:+442038059113" title="Call us"><span class="fw-semibold">020 3805 9113</span></a>
                        and
                        we will clarify if and how this is possible).
                    </li>
                    <li>The right to restrict (i.e. prevent) the processing of your personal data.</li>
                    <li>The right to data portability (obtaining a copy of your personal data to re-use with
                        another service or organisation).
                    </li>
                    <li>The right to object to Us using your personal data for particular purposes; and</li>
                    <li>Rights with respect to automated decision making and profiling.</li>
                </ol>

                <p>If you have any cause for complaint about Our use of your personal data, please contact Us
                    through email <a href="mailto:info@onlineaccountfiling.com">info@onlineaccountfiling.com</a> or over
                    the phone at<br> <a href="tel:+442038059113" title="Call us"><b>020 3805 9113</b></a> and We will
                    do Our best to solve the problem for you. If We are unable to help, you also have the right to
                    lodge a complaint with the UK’s supervisory authority, the Information Commissioner’s Office.</p>

                <p>For further information about your rights, please contact the Information Commissioner’s Office.</p>


                <h2>What Data Do We Collect?</h2>
                <h3>I. Information we process because we have a contractual obligation with
                    you:</h3>
                <ol>
                    <li>When you agree to our terms and conditions, a contract is formed between you and us.</li>
                    <li>In order to carry out our obligations under that contract we must process the information
                        you give us. Some of this information may be personal information.
                        We use it in order to:
                        <ol>
                            <li>verify your identity for security purposes</li>
                            <li>provide you with our services</li>
                            <li>provide you with suggestions and advice on products, services and how to obtain the most
                                from using our services
                            </li>
                        </ol>
                    </li>
                    <li>We process this information on the basis there is a contract between us, or that you
                        have requested we use the information before we enter into a legal contract.
                    </li>
                    <li>As required by law and the terms of our service we will update you on legal and
                        operational matters regardless of your Opt In status. This forms part of our legal
                        obligation to comply.
                    </li>
                    <li>Additionally, we may aggregate this information in a general way and use it to provide
                        class information, for example to monitor our performance with respect to a particular
                        service we provide. If we use it for this purpose, you as an individual will not be
                        personally identifiable.
                    </li>
                    <li>We shall continue to process this information until the contract between us ends or is
                        terminated by either party under the terms of the contract in line with our Data Retention
                        Policy.
                    </li>
                    <li>In order to operate your contract, we may collect some or all of the following personal
                        and non-personal data (Cookies Policy):

                        <ol>
                            <li>Name;</li>
                            <li>Date of birth;</li>
                            <li>Gender;</li>
                            <li>Business/company name;</li>
                            <li>Job title;</li>
                            <li>Profession;</li>
                            <li>Contact information such as email addresses and telephone numbers;</li>
                            <li>Demographic information such as address, post code, preferences, and interests;</li>
                            <li>IP address;</li>
                            <li>Web browser type and version;</li>
                            <li>Operating system;</li>
                            <li>A list of URLs starting with a referring site, your activity on Our Site, and the site
                                you exit to
                            </li>
                            <li>National insurance number</li>
                            <li>Company Authentication code</li>
                            <li>Company UTR (Unique Tax Reference) Number</li>
                            <li>Personal UTR (Unique Tax Reference) Number</li>
                            <li>Details of employment, pensions and income sources</li>
                            <li>Bank account and other financial information</li>
                            <li>Home and trade addresses;</li>
                            <li>Other information as required in your personal circumstances</li>
                        </ol>
                    </li>
                </ol>

                <h2>II. Information we process with your consent:</h2>
                <ol>
                    <li>Through certain actions when otherwise there is no contractual relationship between us,
                        such as when you browse our website or ask us to provide you more information about
                        our business, and our products and services, you provide your consent to us to process
                        information that may be personal information.
                    </li>
                    <li>Wherever possible, we obtain your explicit consent to process this information, for
                        example, by asking you to agree to our use of cookies.
                    </li>
                    <li>Sometimes you might give your consent implicitly, such as when you send us a message
                        by e-mail to which you would reasonably expect us to reply.
                    </li>
                    <li>Except where you have consented to our use of your information for a specific purpose,
                        we do not use your information in any way that would identify you personally. We may
                        aggregate it in a general way and use it to provide class information, for example to
                        monitor the performance of a particular page on our website.
                    </li>
                    <li>If you have given us explicit permission to do so, we may from time to time pass your
                        name and contact information to selected associates whom we consider may provide
                        services or products you would find useful. This will only be done with your explicit
                        consent.
                    </li>
                    <li>We continue to process your information on this basis until you withdraw your consent or
                        it can be reasonably assumed that your consent no longer exists.
                    </li>
                    <li>You may withdraw your consent at any time by instructing us by email to
                        <a href="mailto:info@onlineaccountfiling.com">info@onlineaccountfiling.com</a> However, if you
                        do so, you may not be able to access of
                        all of our services further.
                    </li>
                    <li>Depending upon your use of Our Site, We may collect some or all of the following
                        personal and non-personal data (Cookies Policy):

                        <ol>
                            <li>Name;</li>
                            <li>Date of birth;</li>
                            <li>Gender;</li>
                            <li>Business/company name;</li>
                            <li>Job title;</li>
                            <li>Profession;</li>
                            <li>Contact information such as email addresses and telephone numbers;</li>
                            <li>Demographic information such as post code, preferences, and interests;</li>
                            <li>IP address;</li>
                            <li>Web browser type and version;</li>
                            <li>Operating system;</li>
                            <li>A list of URLs starting with a referring site, your activity on Our Site, and the site
                                you exit to
                            </li>
                        </ol>
                    </li>
                </ol>

                <h2>How Do We Use Your Data?</h2>
                <ol>
                    <li>All personal data is processed and stored securely, for no longer than is necessary in light
                        of the reason(s) for which it was first collected. We will comply with Our obligations and
                        safeguard your rights under the Data Protection Act 1998 and GDPR at all times.
                    </li>
                    <li>Our use of your personal data will always have a lawful basis, either because it is
                        necessary for Our performance of a contract with you, because you have consented to
                        Our use of your personal data (e.g. by subscribing to emails), or because it is in Our
                        legitimate interests. Specifically,
                        <h6 class="mt-3">We may use your data for the following purposes:</h6>
                            <ol>
                                <li>Providing and managing your Account;</li>
                                <li>Providing and managing your access to Our Site;</li>
                                <li>Personalising and tailoring your experience on Our Site;</li>
                                <li>Supplying Our services to you (please note that We require your personal data in
                                    order
                                    to enter into a contract with you);
                                </li>
                                <li>Personalising and tailoring Our products AND services] for you;</li>
                                <li>Replying to emails from you;</li>
                                <li>Supplying you with emails that you have opted into (you may unsubscribe or opt-
                                    out at any time by either unsubscribing via any email sent to you or emailing
                                    <a href="mailto:info@onlineaccountfiling.com">info@onlineaccountfiling.com</a>;
                                </li>
                                <li>Market research;</li>
                                <li>Analysing your use of Our Site and gathering feedback to enable Us to continually
                                    improve Our Site and your user experience;
                                </li>
                                <li>To send you requested white papers and guides;</li>
                            </ol>
                    </li>

                    <li>With your permission and/or where permitted by law, We may also use your data for
                        marketing purposes which may include contacting you by email OR telephone OR text
                        message OR post with information, news and offers on Our products OR services. We
                        will not, however, send you any unsolicited marketing or spam and will take all
                        reasonable steps to ensure that We fully protect your rights and comply with Our
                        obligations under the Data Protection Act 1998 and GDPR and the Privacy and
                        Electronic Communications (EC Directive) Regulations 2003.
                    </li>
                    <li>Third parties whose content appears on Our Site may use third party Cookies, as detailed
                        in Cookies Policy. Please refer to COokies Policy for more information on controlling
                        Cookies. Please note that We do not control the activities of such third parties, nor the
                        data they collect and use, and advise you to check the privacy policies of any such third
                        parties.
                    </li>
                    <li>You have the right to withdraw your consent to Us using your personal data at any time,
                        and to request that We delete it.
                    </li>
                    <li>We do not keep your personal data for any longer than is necessary in light of the
                        reason(s) for which it was first collected. Data will therefore be retained for the following
                        periods (or its retention will be determined on the following bases):
                    </li>
                    <li>Except as otherwise mentioned in this privacy notice, We keep your personal data only for as
                        long as required by Us:
                        <ol>
                            <li>To provide you with the services you have requested;</li>
                            <li>To comply with other law, including for the period demanded by tax authorities;</li>
                            <li>To support a claim or defence in court.</li>
                        </ol>
                    </li>
                </ol>

                <h2>How and Where Do We Store Your Data?</h2>
                <ol>
                    <li>We only keep your personal data for as long as We need to in order to use it as described
                        above in ”How Do We Use Your Data?” and/or for as long as We have your permission
                        to keep it.
                    </li>
                    <li>Some or all of your data may be stored outside of the European Economic Area (“the
                        EEA”) (The EEA consists of all EU member states, plus Norway, Iceland, and
                        Liechtenstein). You are deemed to accept and agree to this by using Our Site and
                        submitting information to Us. If We do store data outside the EEA, We will take all
                        reasonable steps to ensure that your data is treated as safely and securely as it would be
                        within the UK and under the Data Protection Act 1998 and GDPR including:
                        <ol>
                            <li>Ensuring all third party data processors comply fully with the requirements of the
                                GDPR.
                            </li>
                            <li>Data is anonymised wherever possible to limit any risk</li>
                            <li>Data security is very important to Us, and to protect your data We have taken suitable
                                measures to safeguard and secure data collected through Our Site.
                            </li>
                            <li>Steps We take to secure and protect your data include:
                                <ol>
                                    <li>Encrypt data</li>
                                    <li>Anonymise data</li>
                                    <li>Restrict access to data.</li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>

                <h2>Do We Share Your Data?</h2>
                <ol>
                    <li>We may sometimes contract with third parties to supply products and services to you on
                        Our behalf. These may include payment processing, delivery of goods, search engine
                        facilities, advertising, and marketing. In some cases, the third parties may require access
                        to some or all of your data. Where any of your data is required for such a purpose, We
                        will take all reasonable steps to ensure that your data will be handled safely, securely, and
                        in accordance with your rights, Our obligations, and the obligations of the third party
                        under the law.
                    </li>
                    <li>We may compile statistics about the use of Our Site including data on traffic, usage
                        patterns, user numbers, sales, and other information. All such data will be anonymised
                        and will not include any personally identifying data, or any anonymised data that can be
                        combined with other data and used to identify you. We may from time to time share such
                        data with third parties such as prospective investors, affiliates, partners, and advertisers.
                        Data will only be shared and used within the bounds of the law.
                    </li>
                    <li>The third-party data processors used by Us and listed below are located outside of the
                        European Economic Area (“the EEA”) (The EEA consists of all EU member states, plus
                        Norway, Iceland, and Liechtenstein). Where We transfer any personal data outside the
                        EEA, We will take all reasonable steps to ensure that your data is treated as safely and
                        securely as it would be within the UK and under the Data Protection Act 1998 and GDPR
                        including:
                        <ol>
                            <li>Capsitech IT Services Private Limited (<a href="https://www.capsitech.com/"
                                                                          target="_blank">http://www.capsitech.com/</a>),
                                encryption &amp; anonymisation of data;
                            </li>
                        </ol>
                    </li>
                </ol>
                <p>In certain circumstances, We may be legally required to share certain data held by Us, which
                    may include your personal data, for example, where We are involved in legal proceedings, where
                    We are complying with legal requirements, a court order, or a governmental authority.</p>


                <h2>What Happens If Our Business Changes Hands?</h2>
                <ol>
                    <li>We may, from time to time, expand or reduce Our business and this may involve the sale
                        and/or the transfer of control of all or part of Our business. Any personal data that you
                        have provided will, where it is relevant to any part of Our business that is being
                        transferred, be transferred along with that part and the new owner or newly controlling party
                        will, under the terms of this Privacy Policy, be permitted to use that data only for
                        the same purposes for which it was originally collected by Us.
                    </li>
                    <li>In the event that any of your data is to be transferred in such a manner, you will be
                        contacted in advance and informed of the changes. When contacted you will not,
                        however, be given the choice to have your data deleted or withheld from the new owner
                        or controller.
                    </li>
                </ol>


                <h2>Your Right to Withhold Information</h2>
                <ol>
                    <li>You may access certain areas of Our Site without providing any data at all. However, to
                        use all features and functions available on Our Site you may be required to submit or
                        allow for the collection of certain data.
                    </li>
                    <li>You may restrict Our use of Cookies. Refer Cookies Policy.</li>
                </ol>

                <h2>How Can You Access Your Data?</h2>
                <ol>
                    <li>You have the right to ask for a copy of any of your personal data held by Us (where such data is
                        held). Under the GDPR, no fee is payable, and We will provide any and all information in
                        response to your request free of charge. Please contact Us for more details at
                        <a href="mailto:info@onlineaccountfiling.com">info@onlineaccountfiling.com</a> or using the
                        contact details in contact us section.
                    </li>
                </ol>

                <h2>Using our accounting services</h2>
                <p>During the course of your subscription you may be asked to provide additional information and
                    to keep us informed of any changes to your circumstances or that of your business. You may also
                    require additional services or products.</p>
                <ol>
                    <li><span class="fw-semibold">We collect:</span> The type of personal information collected may
                        include changes in marital
                        status; changes of home/business postal address; other sources of income; investment
                        activities; changes to your company structure, to include changes to company officers;
                        usage data and statistics; connection data; other unique identifiers such as IP addresses or
                        device IDs, marketing and advertising responses and preferences; username and
                        passwords for accessing and using our services, purchase inquiry and history; products,
                        services or content provided.
                    </li>
                    <li><span class="fw-semibold">Why:</span> To carry out our obligations to provide services you've
                        engaged us to deliver or to
                        perform. Support you in managing your affairs, provide the right guidance and support at
                        the right time, ensure you continue to be subscribed to the right service for you, to notify
                        you about changes to our services, make suggestions/recommendations to you about
                        other products and services. For related purposes such as updating and enhancing our
                        client records, improving our services, troubleshooting, testing, data analysis, research,
                        profiling, statistical and survey purposes. Analysis for management and marketing
                        purposes and statutory returns, legal and regulatory compliance and crime prevention.
                    </li>
                    <li><span class="fw-semibold">How:</span> Data is collected through online forms; surveys; email;
                        telephone; SMS text
                        message; or by post.
                    </li>
                </ol>

                <h2>When we may share or disclose your data</h2>
                <p>Online Account Filing does not sell data about our clients and we only share or disclose your data as
                    authorised in this Policy.</p>
                <p>We may share or disclose information with the following types of third parties.</p>
                <ol>
                    <li><span class="fw-semibold">Suppliers:</span> We works with a variety of third party suppliers to
                        perform services
                        such as accounting softwares, online product purchases and email
                        communications. We share your personal data as necessary to complete any
                        transaction or provide a product or service you have requested. These suppliers
                        work on our behalf for the purposes described in this Policy. We imposes strict
                        contractual obligations on its suppliers to ensure data is secure, protected and
                        treated in accordance with this Policy and we will take all steps reasonably
                        necessary to maintain compliance with these obligations.
                    </li>
                    <li><span class="fw-semibold">Group companies:</span> Crunch may share personal data with other
                        members of our
                        group or its subsidiaries, as defined in section 1159 of the UK Companies Act
                        2006.
                    </li>
                    <li><span class="fw-semibold">Affiliates/Partners:</span> Our sites may, from time to time, contain
                        links to and from
                        the websites of our partner networks and affiliates who provide complementary
                        services. Your information will only be passed to the relevant service provider if
                        you express interest in a third party service by calling or completing a form on our
                        website, or by enabling usage of a third party service, or by talking to a Online
                        Account Filing team member. These third parties may then send communications
                        to you and provide information on offers and services that may be of interest to
                        you. If, at any time, you wish to opt out of further communications, please follow
                        the instructions in their marketing communications or consult their own privacy
                        policies for further information about unsubscribing. If you provide personal data
                        to any of the third parties, your data is governed by their privacy policy. Overall,
                        we do not accept any liability arising from the operation of these third party
                        privacy policies, so please check these policies carefully prior to activating a
                        service.
                    </li>
                    <li><span class="fw-semibold">Legal/Regulatory Bodies:</span> To the extent that we are duty bound
                        by any
                        applicable legal or regulatory requirement to cooperate with any competent legal
                        or governmental authority or agency, we shall do so in accordance with applicable
                        law. This may involve disclosure of your personal data and we will have no legal
                        liability for such disclosures. Please note that, depending on circumstances, We
                        may be forbidden from advising you of the fact that your personal data has been
                        disclosed to or requested by such third parties.
                        Under Section 330 of the Proceeds of Crime Act 2002 we have a duty to report to
                        the Serious Organised Crime Agency (SOCA) if we know, or have reasonable
                        cause to suspect, that you or anyone connected with your business are or have
                        been involved in money laundering. Failure on our part to make a report where
                        we have knowledge, or reasonable grounds for suspicion, would constitute a
                        criminal offence. We are obliged by law to undertake this reporting to SOCA, but
                        are under no obligation to make you aware of this reporting. In fact, we may
                        commit the criminal offence of "tipping off" under Section 333 of the Proceeds of
                        Crime Act 2002 if we were to inform you that a report had been made. In
                        consequence, neither Online Account Filing's principals nor staff may enter into
                        any correspondence or discussions with you regarding such matters.
                    </li>
                    <li><span class="fw-semibold">Other Parties:</span> with whom it might be necessary to complete a
                        financial or corporate
                        transaction such as a merger or sale of asset.
                    </li>
                </ol>


                <h2>Business Operations</h2>
                <p>We use data to run business operations to provide you with our services, profile our user base
                    and develop anonymised aggregate analysis and business intelligence that enable us to operate,
                    protect, make informed decisions and report on the performance of our business.</p>

                <h2>Communicating with you</h2>
                <p>We may contact you directly, or through a third-party service provider, regarding products or
                    services you have signed up or purchased from us, such as necessary to deliver transactional or
                    service related communications. We may also contact you with offers for additional services we
                    think you'll find valuable if you give us consent, or where allowed based upon legitimate
                    interests. You don't need to provide consent as a condition to purchase our goods or services.
                    These contacts may include:</p>
                <ol>
                    <li>Email</li>
                    <li>Text (SMS) messages</li>
                    <li>Telephone calls</li>
                    <li>Automated phone calls or text messages.</li>
                </ol>
                <p>If we collect information from you in connection with a co-branded offer, it will be clear at the
                    point of collection who is collecting the information and whose privacy policy applies. In
                    addition, it will describe any options you have in regards to the use and/or sharing of your
                    personal data with a co-branded partner, as well as how to exercise those options.</p>
                <p>If you make use of a service that allows you to import contacts (e.g. using email marketing
                    services to send emails on your behalf), we will only use the contacts and any other personal
                    information needed for the requested service. If you believe that anyone has provided us with
                    your personal information and you would like to request that it be removed from our database,
                    please contact us at <a href="mailto:info@onlineaccountfiling.com">info@onlineaccountfiling.com</a>.
                </p>

                <h2>Data provided by you</h2>
                <ol>
                    <li>You acknowledge that the accounting data provided by you is correct in all sense and
                        the accounts prepared by us is in accordance to the same. It becomes your
                        responsibility for the accounts we have prepared. All the accounting records has been
                        made available to ourselves for the purpose of our review and all the transactions
                        undertaken by the company has been properly reflected in the accounting records.
                    </li>
                    <li>In your opinion, the accounting policies are appropriate to the company and conform
                        with generally accepted accounting principles. You confirm that all transactions and
                        balances have been accounted for in accordance with these accounting policies.
                    </li>
                    <li>You agree that all the assets and the liabilities are reflected on the trial balance sheet
                        provided to us for the preparation of the accounts.
                    </li>
                    <li>You confirm that the company is going concern and that the director has considered the
                        company's ability to continue as a going concern for a period of twelve months after the
                        date of approval of the accounts.
                    </li>
                    <li>Once you approve the accounts for submission you agree that the accounts are correct
                        and you give your concent to proceed with the filing on your behalf.
                    </li>
                </ol>

            </div>
        </div>
    </div>

{% endblock %}
