{% extends 'website/base.html' %}
{% load static %}

{% block title %}
    Terms and Conditions
{% endblock %}

{% block content %}

    <div class="breadcrumb bg-white-lilac ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-xs-10">
                    <div class="page-title-block-two breadcrumb__content text-center">
                        <h1 class="title">Privacy Policies</h1>
                        <p class="text-dark">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb__navigation">
            <p class="breadcrumb__navigation--text"><a class="d-block heading-dark" href="/">Home</a><span
                    class="dot"></span><span class="page-text">Blog Details</span></p>
        </div>
    </div>
    <div class="container py-5">
        <div class="row py-4 justify-content-center">
            <div class="col-12 py-lg-4">
                <h1 class="mb-4">Terms of Use</h1>

                <h2>Definiation</h2>

                <p>The parties referred to in this Agreement shall be defined as follows:</p>
                <p><span class="fw-semibold">"Company", "Us", "We" or "Our":</span> Online Account Filing, as the
                    creator,
                    operator, and
                    publisher of the Website, makes the Website and certain Services on it, available to users.</p>
                <p><span class="fw-semibold">You, the User, the Client:</span> You, as the user of the Website, will be
                    referred to throughout this
                    Agreement.</p>
                <p><span class="fw-semibold">Parties:</span> Collectively, the parties to this Agreement (the Company
                    and
                    You) will be referred to as
                    Parties.</p>
                <p>Welcome to the Website. If you continue to browse and use the Website, you are agreeing to
                    comply with and be bound by the Terms, which together with our Privacy Policy, Cookies Policy,
                    GDPR govern Online Account Filing’s relationship with you in relation to the Website. If you
                    disagree with any part of the Terms, please do not use the Website.</p>
                <p>The content of the pages of the Website is for your information and use only. It is subject to
                    change without notice.</p>


                <h2>Warranties and Guarantees</h2>
                <p>To the fullest extent permissible by law in the jurisdictions listed below, neither we nor any
                    third parties provide any warranties or guarantees, express or implied, as to the accuracy,
                    timeliness, performance, completeness, reliability or suitability of the information, products,
                    services and related materials and graphics found or offered on the Website for any particular
                    purpose. It shall be your own responsibility to ensure that any products or services available
                    through the Website meet your specific requirements.</p>

                <h2>Ownership, Licensing and Trademarks</h2>
                <p>The Website contains material which is owned by or licensed to us. This material includes, but is
                    not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited. All
                    trademarks reproduced in this website, which are not the property of, or licensed to Online
                    Account Filing, are acknowledged on the Website.</p>

                <h2>Errors &amp; Omissions</h2>
                <p>You acknowledge that the Website’s content may contain errors and omissions and you accept
                    that any reliance you place on the Website’s content is, therefore, strictly at your own risk. In
                    no event will we be liable for any loss or damage incurred by you arising from errors and
                    omissions in the Website content.</p>

                <h2>Availability</h2>
                <p>Every effort is made to keep the website up and running smoothly. However, Online Account
                    Filing takes no responsibility for, and will not be liable for, the website being temporarily
                    unavailable due to technical issues beyond our control. Online Account Filing will not be liable
                    under the law of any of the jurisdictions listed below, for any indirect, incidental, punitive or
                    consequential damages arising out of your inability to use the Website.</p>

                <h2>Due Diligence Procedure</h2>
                <p>Upon acceptance of our offer from clients' end, we have the right as well as duty to perform due
                    diligence checks on all clients. In case we find anything unusual during these checks such as
                    suspicion of Money Laundering activities, any ongoing HMRC action which was not pre-informed, prior
                    or current Insolvency proceedings against your company etc., we shall reserve the right to cancel
                    the contract/particular service. Any refunds for the paid Invoice(s) shall be processed based on the
                    facts of the case, and the fact that how much work has actually been performed at our end until the
                    time it's finally discovered.</p>

                <h2>Registration, Passwords and Data Security</h2>
                <p>You may access many areas of the Website without registering your details with us. However,
                    certain areas are only open to you if you register. Our general “Terms of Service”, “Cookies
                    Policy” and our “Privacy Policy” govern registration together with data security and the use of
                    passwords.</p>
                <p>When You register with Us, You will choose a user identifier, which may be Your email address
                    or another term, as well as a password. You may also provide personal information, including,
                    but not limited to, Your name. You are responsible for ensuring the accuracy of this
                    information. This identifying information will enable You to use the Website and Services. You
                    must not share such identifying information with any third party and if You discover that Your
                    identifying information has been compromised, You agree to notify Us immediately in writing.</p>

                <h2>Links</h2>
                <p>From time to time, the Website may contain links to other websites, which are not under the
                    control of Online Account Filing. We have no control over the nature, content and availability of
                    those websites. These links are provided for your convenience to provide further information.
                    They do not signify that we endorse these websites.The inclusion of any links does not
                    necessarily imply a recommendation or endorsement by Online Account Filing of the views expressed
                    within
                    them.
                    We have no responsibility, whatsoever, for the content of linked
                    websites.</p>

                <h2>Cookies</h2>
                <p>The Website uses cookies to monitor browsing preferences. Please see our “Privacy Policy” and
                    “Cookies Policy” for further information regarding how Online Account Filing uses cookies.</p>

                <h2>Unacceptable Use</h2>
                <p>The Website may only be used for lawful purposes and activities. We prohibit any use of the
                    Website that violates any law or regulation in the jurisdictions listed below.</p>

                <h2>Jurisdictions</h2>
                <p>Your use of the Website and any dispute arising out of such use of the website is subject to the
                    laws of England, Northern Ireland, Scotland and Wales.</p>

                <h2>Security</h2>
                <p>You agree not to undertake violate the security of the Website or Services through any
                    unauthorized access, circumvention of encryption or other security tools, data mining or
                    interference to any host, user or network.</p>

                <h2>Indemnification</h2>
                <p>You agree to defend and indemnify the Company and any of its affiliates (if applicable) and hold
                    Us harmless against any and all legal claims and demands, including reasonable attorney's fees,
                    which may arise from or relate to Your use or misuse of the Website or Services, Your breach of
                    this Agreement, or Your conduct or actions. You agree that the Company shall be able to select
                    its own legal counsel and may participate in its own defense, if the Company wishes.</p>

                <h2>Spam Policy</h2>
                <p>You are strictly prohibited from using the Website or any of the Company's Services for illegal
                    spam activities, including gathering email addresses and personal information from others or
                    sending any mass commercial emails.</p>

                <h2>Modification &amp; Variation</h2>
                <p>The Company may, from time to time and at any time without notice to You, modify this
                    Agreement. You agree that the Company has the right to modify this Agreement or revise
                    anything contained herein. You further agree that all modifications to this Agreement are in full
                    force and effect immediately upon posting on the Website and that modification or variations
                    will replace any prior version of this Agreement, unless prior versions are specifically referred to
                    or incorporated into the latest modification or variation of this Agreement. You agree to
                    regularly monitor this agreement and refer to the effective date posted. If you fail to monitor
                    any modifications to or variations of this agreement You agree that such failure shall be
                    considered an affirmative waiver of your right to review the modified Agreement.</p>
            </div>
        </div>
    </div>

{% endblock %}