{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block base_title %}
    Users
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <form method="get">
                <div class="input-group mb-3">
                    {{ filter_form }}
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <a href="{% url 'admin-portal:user-list' %}" class="btn btn-danger" type="submit">
                            <i class="fa fa-brush"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">


                    <div class="table-responsive">
                        <table class="table table-borderless">
                            {% if object_list %}
                                <thead class="border-bottom">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Active</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>

                                {% for user in object_list %}
                                    <tr>
                                        <td>{{ user.pk }}</td>
                                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.phone_number }}</td>
                                        <td>
                                            {% if user.is_active %}
                                                <b class="text-success"><i class="fa fa-check-circle"></i></b>

                                            {% else %}
                                                <b class="text-danger"><i class="fa fa-times-circle"></i></b>

                                            {% endif %}
                                        </td>

                                        <td>
                                            <a href="{% url 'admin-portal:user-detail' user.pk %}"
                                               class="text-decoration-none"><i
                                                    class="mdi mdi-eye icon-sm"></i> View
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            {% else %}
                                <th class="text-danger">No users data available.</th>
                            {% endif %}
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>

    {% if object_list %}
        <div class="row">
            <div class="col-md-12">
                <div class="mt-4">
                    <ul class="pagination">
                        {% if object_list.has_previous %}
                            <li>
                            <span>
                                <a href="{% relative_url object_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous
                                </a>
                            </span>
                            </li>
                        {% endif %}
                        <li class="">
                            <span>Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</span>
                        </li>
                        {% if object_list.has_next %}
                            <li>
                            <span>
                                <a href="{% relative_url object_list.next_page_number 'page' request.GET.urlencode %}">
                                    Next
                                </a>
                            </span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            $('label').hide();
            $('input').addClass('form-control');
            $('select').addClass('form-control');

        });
    </script>
{% endblock %}

