{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}
    {{ object.username }}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    {# IMAGE DIV #}
                    <div class="text-center">
                        {% if user.profile_image %}
                            <img class="rounded-circle" src="{{ user.profile_image.url }}" height="150px"
                                 alt="user-image">
                        {% else %}
                            <img class="rounded-circle" src="{% static 'core/images/no-user.png' %}"
                                 height="150px" alt="no-user-image">
                        {% endif %}
                    </div>

                    {# NAME AND OTHER #}
                    <div class="text-center mt-2">
                        <h5 class="mb-0">{{ user.get_full_name }}
                            {% if user.is_active %}
                                <i class="fa fa-check-circle text-success"></i>
                            {% endif %}
                        </h5>
                        <p class="fw-light text-muted mb-0">( {{ user.username }} )</p>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-email"></i></p>
                            <p class="mb-0 text-center h5">Email</p>
                            <p class="mb-0 text-center">{{ user.email }}</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-phone"></i></p>
                            <p class="mb-0 text-center h5">Phone</p>
                            <p class="mb-0 text-center">{{ user.phone_number }}</p>
                        </div>
                        <div class="col text-center">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-package"></i></p>
                            <p class="mb-0 text-center h5">Package</p>
                            <p class="mb-0 text-center text-danger">Not subscribed</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-link"></i></p>
                            <p class="mb-0 text-center h5">Referral</p>
                            {% if user.referred_by %}
                                <p class="mb-0 text-center">
                                    <a href="{% url 'admin-portal:user-detail' user.referred_by.pk %}">
                                        {{ user.referred_by.username }}
                                    </a>
                                </p>
                            {% else %}
                                <p class="mb-0 text-center text-danger">Not Linked</p>
                            {% endif %}
                        </div>

                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="fa fa-user-edit"></i></p>
                            <p class="mb-0 text-center h5">Profile</p>
                            <p class="mb-0 text-center">
                                <a href="{% url 'admin-portal:user-update' user.pk %}">Update</a>
                            </p>
                        </div>

                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="fa fa-user-lock"></i></p>
                            <p class="mb-0 text-center h5">Password</p>
                            <p class="mb-0 text-center text-danger">
                                <a href="{% url 'admin-portal:user-password-reset-view' user.pk %}">Change</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">Wallet</p>

                            <div class="row">

                                <div class="col">
                                    <p class="mb-0 text-center h3 text-success"><i class="mdi mdi-arrow-up"></i></p>
                                    <p class="mb-0 text-center small">TopUp</p>
                                    <p class="mb-0 text-center h4">{{ statistic.current_amount|floatformat:2 }}</p>
                                </div>

                                <div class="col">
                                    <p class="mb-0 text-center h3 text-danger"><i class="mdi mdi-arrow-down"></i>
                                    </p>
                                    <p class="mb-0 text-center small">Withdrawal Amount</p>
                                    <p class="mb-0 text-center h4">{{ statistic.withdrawn_amount|floatformat:2 }}</p>
                                </div>

                                <div class="col">
                                    <p class="mb-0 text-center h3"><i class="mdi mdi-counter"></i></p>
                                    <p class="mb-0 text-center small">Task Amount</p>
                                    <p class="mb-0 text-center h4">{{ statistic.tasks_amount_total|floatformat:2 }}</p>
                                </div>

                                <div class="col">
                                    <p class="mb-0 text-center h3"><i class="mdi mdi-share"></i></p>
                                    <p class="mb-0 text-center small">Referral Amount</p>
                                    <p class="mb-0 text-center h4">{{ statistic.referrals_amount_total }}</p>
                                </div>

                                <div class="col">
                                    <p class="mb-0 text-center h3"><i class="mdi mdi-format-list-checks"></i></p>
                                    <p class="mb-0 text-center small">Total Tasks</p>
                                    <p class="mb-0 text-center h4">{{ statistic.tasks_completed }}</p>
                                </div>

                                <div class="col">
                                    <p class="mb-0 text-center h3"><i class="mdi mdi-format-list-bulleted-type"></i>
                                    </p>
                                    <p class="mb-0 text-center small">Total Referrals</p>
                                    <p class="mb-0 text-center h4">{{ statistic.referrals_completed }}</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="card-title mb-0">Top Up Requests</p>
                </div>
                <div class="card-body">

                    {% if top_up %}
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Transaction ID</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in top_up %}
                                    <tr>
                                        <td>
                                            <h5 class="text-truncate font-size-14">
                                                <a href="#" class="text-dark">#{{ object.pk }}</a>
                                            </h5>
                                            <p class="text-muted mb-0"></p>
                                        </td>
                                        <td>
                                            <b class=""><i class="fa fa-arrow-up text-success"></i>
                                                ${{ object.total }}
                                            </b><br>
                                        </td>
                                        <td>{{ object.created_on }}</td>
                                        <td>
                                    <span class="badge badge-dark">
                                        {{ object.get_payment_method_display }}
                                    </span>
                                        </td>
                                        <td>
                                            {% if object.status == 'com' %}
                                                <b class="text-success"><i
                                                        class="fa fa-check-circle"></i> {{ object.get_status_display }}
                                                </b>
                                            {% elif object.status == 'pen' %}
                                                <b class="text-warning"><i
                                                        class="fa fa-exclamation-triangle"></i>
                                                    {{ object.get_status_display }}
                                                </b>
                                            {% else %}

                                                <b class="text-danger"><i class="fa fa-times-circle"></i>
                                                    {{ object.get_status_display }}
                                                </b>
                                            {% endif %}
                                        <td>
                                            <a href="{% url 'admin-portal:topup-detail' object.pk %}"><b><i
                                                    class="fa fa-eye"></i>
                                                view</b></a>
                                            {% if object.status == 'com' %}
                                                |
                                                <a href="{% url 'admin-portal:topup-invoice' object.pk %}"><b><i
                                                        class="fa fa-print"></i> invoice</b></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <tr>
                            <td colspan="7">
                                <p class="mb-0 text-danger">
                                    <b><i class="fa fa-exclamation-circle"></i> No top up's requests available
                                        for this user</b>
                                </p>
                            </td>
                        </tr>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="card-title mb-0">Top Up Requests</p>
                </div>
                <div class="card-body">

                    {% if transaction %}
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Transaction ID</th>
                                    <th scope="col">Sender</th>
                                    <th scope="col">Receiver</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Method</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in transaction %}
                                    <tr>
                                        <td>
                                            <h5 class="text-truncate font-size-14"><a href="#"
                                                                                      class="text-dark"># {{ object.pk }}</a>
                                            </h5>
                                            <p class="text-muted mb-0"></p>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="cols pr-4">
                                                        {% if object.sender_wallet.user.profile_image %}
                                                            <img class="rounded-circle avatar-xs"
                                                                 src="{{ object.sender_wallet.user.profile_image.url }}"
                                                                 alt="">
                                                        {% else %}
                                                            <img class="rounded-circle avatar-xs"
                                                                 src="{% static 'core/images/no-user.png' %}" alt="">
                                                        {% endif %}
                                                </div>
                                                <div class="cols">
                                                    <a href="{% url 'admin-portal:user-detail' object.sender_wallet.user.pk %}">
                                                        {% if object.sender_wallet.user.profile_image %}
                                                            <h5 class="text-truncate font-size-14 mb-0">
                                                                {{ object.sender_wallet.user.first_name }}
                                                                {{ object.sender_wallet.user.last_name }}
                                                            </h5>
                                                        {% else %}
                                                            <h5 class="text-truncate font-size-14 mb-0">
                                                                {{ object.sender_wallet.user.username }}
                                                            </h5>
                                                        {% endif %}

                                                        <p class="text-muted mb-0">
                                                            <i class="fa fa-wallet"></i> {{ object.sender_wallet.user.get_user_wallet.pk }}
                                                        </p>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="cols pr-4">
                                                    {% if object.receiver_wallet.user.profile_image %}
                                                        <img class="rounded-circle avatar-xs"
                                                             src="{{ object.receiver_wallet.user.profile_image.url }}"
                                                             alt="">
                                                    {% else %}
                                                        <img class="rounded-circle avatar-xs"
                                                             src="{% static 'core/images/no-user.png' %}" alt="">
                                                    {% endif %}
                                                </div>
                                                <div class="cols">
                                                    <a href="{% url 'admin-portal:user-detail' object.receiver_wallet.user.pk %}">
                                                        {% if object.receiver_wallet.user.first_name %}
                                                            <h5 class="text-truncate font-size-14 mb-0">
                                                                {{ object.receiver_wallet.user.first_name }}
                                                                {{ object.receiver_wallet.user.last_name }}
                                                            </h5>
                                                        {% else %}
                                                            <h5 class="text-truncate font-size-14 mb-0">
                                                                {{ object.receiver_wallet.user.username }}
                                                            </h5>
                                                        {% endif %}

                                                        <p class="text-muted mb-0">
                                                            <i class="fa fa-wallet"></i> {{ object.receiver_wallet.user.get_user_wallet.pk }}
                                                        </p>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <b>{{ object.total }}</b>
                                        </td>
                                        <td>{{ object.created_on }}</td>
                                        <td class="text-warning">
                                            <span class="badge badge-dark">{{ object.type }}</span>
                                        </td>
                                        {% if object.status == 'com' %}
                                            <td class="text-success">
                                                <b class=""><i
                                                        class="fa fa-check-circle"></i> {{ object.get_status_display }}
                                                </b>
                                            </td>
                                        {% elif object.status == 'pen' %}
                                            <td class="text-warning"><b class=""><i
                                                    class="fa fa-exclamation-triangle"></i>
                                                {{ object.get_status_display }}
                                            </b></td>
                                        {% else %}
                                            <td class="text-danger">
                                                <b class=""><i class="fa fa-times-circle"></i>
                                                    {{ object.get_status_display }}
                                                </b>
                                            </td>
                                        {% endif %}
                                        <td>
                                            <a href="{% url 'admin-portal:transaction-detail' object.pk %}"><b><i
                                                    class="fa fa-eye"></i> view</b></a>
                                            {% if object.status == 'com' %}
                                                |
                                                <a href="{% url 'admin-portal:transaction-invoice' object.pk %}"><b><i
                                                        class="fa fa-print"></i> invoice</b></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <tr>
                            <td colspan="7">
                                <p class="mb-0 text-danger">
                                    <b><i class="fa fa-exclamation-circle"></i> No top up's requests available
                                        for this user</b>
                                </p>
                            </td>
                        </tr>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="card-title mb-0">Withdrawal Requests</p>
                </div>
                <div class="card-body">

                    {% if withdrawal %}
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Transaction ID</th>
                                    <th scope="col">Bank</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Tax</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in withdrawal %}
                                    <tr>
                                        <td>
                                            <h5 class="text-truncate font-size-14"><a href="#"
                                                                                      class="text-dark">#{{ object.pk }}</a>
                                            </h5>
                                            <p class="text-muted mb-0"></p>
                                        </td>
                                        <td>
                                            <h5 class="text-truncate font-size-14 mb-0">
                                                <i class="bx bxs-bank"></i> {{ object.bank_name }}
                                            </h5>
                                            <p class="text-muted mb-0"># {{ object.account_number }}</p>
                                        </td>
                                        <td><b>${{ object.total }}</b></td>
                                        <td><b><i class="fa fa-coins text-danger"></i> ${{ object.tax }}</b>
                                        </td>
                                        <td>{{ object.created_on }}</td>
                                        <td class="text-warning">
                                            <b><i class="bx bx-transfer"></i> Bank Transfer</b>
                                        </td>
                                        <td class="text-success"><b class=""><i class="fa fa-check-circle"></i>
                                            Completed</b></td>
                                        <td>
                                            <a href="{% url 'admin-portal:withdrawal-detail' object.pk %}"><b><i
                                                    class="fa fa-eye"></i> view</b></a> |
                                            <a href="{% url 'admin-portal:withdrawal-invoice' object.pk %}"><b><i
                                                    class="fa fa-print"></i> invoice</b></a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <tr>
                            <td colspan="7">
                                <p class="mb-0 text-danger">
                                    <b><i class="fa fa-exclamation-circle"></i> No withdrawal requests available
                                        for this user</b>
                                </p>
                            </td>
                        </tr>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
