{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} invoice #{{ object.pk }} {% endblock %}
{% block base_links %}
    <style>
        .paid-image {
            background-image: url('/static/core/images/paid_water_mark.png');
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card paid-image">
                <div class="card-body">
                    <div class="invoice-title">
                        <h4 class="float-right font-size-16 mb-0">Order # {{ object.pk }}</h4>
                        <div class="mb-2">
                            <img src="{% static 'core/images/logo-100.png' %}" alt="logo" height="40">
                            <b class="font-weight-bolder font-size-20"> SKISIP Wallet</b>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <address>
                                <strong class="h5">
                                    <b>Sender Information</b>
                                </strong><br>
                                <div class="mt-2">
                                    <i class="fa fa-user"></i>
                                    {% if object.sender_wallet.user.first_name %}
                                        {{ object.sender_wallet.user.first_name }}
                                        {{ object.sender_wallet.user.last_name }}
                                    {% else %}
                                        {{ object.sender_wallet.user.username }}
                                    {% endif %}
                                    <br>
                                    <i class="mdi mdi-mail"></i> {{ object.sender_wallet.user.email }}<br>
                                    <i class="mdi mdi-phone"></i> {{ object.sender_wallet.user.phone_number }}<br>
                                    <i class="mdi mdi-map"></i> {{ object.sender_wallet.user.address }}
                                </div>
                            </address>
                        </div>
                        <div class="col-sm-6 text-right">
                            <address class="mt-2 mt-sm-0">
                                <strong class="h5">
                                    <b>Receiver Information</b>
                                </strong><br>
                                <div class="mt-2">
                                    {% if object.receiver_wallet.user.first_name %}
                                        {{ object.receiver_wallet.user.first_name }}
                                        {{ object.receiver_wallet.user.last_name }}
                                    {% else %}
                                        {{ object.receiver_wallet.user.username }}
                                    {% endif %}
                                    <i class="fa fa-user"></i>
                                    <br>
                                    {{ object.receiver_wallet.user.email }} <i class="mdi mdi-mail"></i><br>
                                    {{ object.receiver_wallet.user.phone_number }} <i class="mdi mdi-phone"></i><br>
                                    {{ object.receiver_wallet.user.address }} <i class="mdi mdi-map"></i>
                                </div>
                            </address>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6 text-right">
                            <address class="mt-2 mt-sm-0">
                                <strong class="h5"><b>Payment Method</b></strong><br>
                                <b>{{ object.type }}</b><br>
                            </address>
                        </div>
                    </div>
                    <div class="py-2 mt-3">
                        <h3 class="font-size-15 font-weight-bold">Order summary</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-nowrap">
                            <thead>
                            <tr>
                                <th style="width: 70px;">No.</th>
                                <th>Item</th>
                                <th class="text-right">Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>01</td>
                                <td>P2P Transfer ({{ object.sender_wallet.user }} - {{ object.receiver_wallet.user }})
                                </td>
                                <td class="text-right">${{ object.total }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="border-0 text-right">
                                    <strong>Tax</strong></td>
                                <td class="border-0 text-right">${{ object.tax }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="border-0 text-right">
                                    <strong>Total</strong></td>
                                <td class="border-0 text-right"><h4 class="m-0">${{ object.received }}</h4></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-print-none">
                        <div class="float-right">
                            <a href="javascript:window.print()" class="btn btn-primary waves-effect waves-light mr-1"><i
                                    class="fa fa-print"></i> Download Invoice</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}