{% extends 'core/base.html' %}

{% block base_title %}
    Success
{% endblock %}

{% block dont_include_details %}
    <div class="row justify-content-center">
        <div class="col-6">

            <div class="card">
                <div class="card-body border-bottom">
                    <h2>Payment Failed</h2>
                </div>
                <div class="card-body">
                    <p>
                        Payment failed, retry again please - For more help contact with us<br>
                        <a href="mailto:"><b>support@rsonlineaccounting.com</b></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}