{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} Connect {% endblock %}

{% block page_heading %}
    <b><i class="fa fa-link"></i>
        {% if object.connect_id %}
            {{ object.connect_id }}
        {% else %}

        {% endif %}

    </b>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-8">

            <div class="card">
                <div class="card-body">

                    <div class="media">


                        <div class="media-body">
                            <div class="text-muted">
                                <h5>

                                    {{ object.first_name }} {{ object.last_name }}

                                </h5>
                                <p class="mb-1">{{ object.email }}</p>
                                <p class="mb-0">{{ object.phone }}</p>
                                <p class="mb-0">{{ object.address }}</p>
                                <p class="mb-0">{{ object.city }} <b>({{ object.postal_code }})</b>
                                    - {{ object.country }}</p>
                            </div>

                        </div>

                        <div class="dropdown ml-2">
                            <a class="text-muted dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-dots-horizontal font-size-18"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" style="">
                                <a class="dropdown-item" href="#">View</a>
                                <a class="dropdown-item" href="#">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body border-top">

                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <p class="text-muted mb-2">Available Balance</p>
                                <h5>$ 00</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right mt-4 mt-sm-0">
                                <p class="text-muted mb-2">Connect Account Permissions</p>
                                <p>
                                    <b class="p-1 bg-success text-white mr-2">
                                        Transfers: Yes
                                    </b>
                                    <b class="p-1 bg-success text-white">
                                        Payouts: Yes
                                    </b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0 card-title">Payment Methods</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-borderless table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Currency</th>
                                <th>Routing Number</th>
                                <th>Account Number</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for acc in object.get_external_accounts %}
                                <tr>
                                    <th>{{ acc.external_account_id }}</th>
                                    <th><b class="mb-0">{{ acc.currency.name }}</b></th>
                                    <th><b class="mb-0">{{ acc.routing_number }}</b></th>
                                    <th><b class="mb-0">{{ acc.account_number }}</b></th>
                                    <th>
                                        {% if acc.is_verified %}
                                            <b class="mb-0"><a href="#" class="text-success">
                                                <i class="fa fa-check-circle"></i> verified</a>
                                            </b>
                                        {% else %}
                                            <b class="mb-0"><a href="#" class="text-danger">
                                                <i class="fa fa-times-circle"></i> not verified</a>
                                            </b>
                                        {% endif %}
                                    </th>
                                    <th><b class="mb-0"><a
                                            href="{% url 'payment-stripe:connect-external-account-change' acc.pk %}"
                                            class="text-primary"><i class="fa fa-edit"></i></a></b>
                                    </th>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">

            {# VERIFY #}
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0 card-title">Verification</p>
                </div>
                <div class="card-body">
                    {% if not object.is_verified %}
                        <p class="mb-0 text-danger card-text">
                            <b>
                                Your connect account is not verified fully please check the errors below and fulfill
                                the requirements.
                            </b>
                        </p>
                    {% else %}
                        <p class="mb-0 text-success card-text">
                            <b>Verified account</b>
                        </p>
                    {% endif %}

{#                    <p class="mb-0 mt-3"><b><a href="#">View Verifications</a></b></p>#}
                </div>
            </div>

            {# DELETE #}
            <div class="card bg-danger">
                <div class="card-body text-white border-bottom border-white">
                    <p class="mb-0 card-title">Remove Account</p>
                </div>
                <div class="card-body text-white">
                    <p class="card-text">
                        <b>
                            Are you sure you want to delete your connect account, there is no way to get back your data
                            related to this connected account.
                        </b>
                    </p>
                    <a href="{% url 'payment-stripe:connect-delete' %}" class="btn btn-light text-danger">Delete
                        Account</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
