{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} Connect {% endblock %}

{% block page_heading %}
    {% if object.is_verified %}
        <b class="p-1 bg-success text-white"><i class="fa fa-check-circle"></i> Completed</b>
    {% else %}
        <b class="p-1 bg-danger text-white"><i class="fa fa-times-circle"></i> Un Verified</b>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-8">

            <div class="border-bottom card-body">
                <p class="card-title">
                    Connect Information
                    <a href="{% url 'payment-stripe:connect-update' %}"><i class="fa fa-edit"></i></a>
                </p>
                <h4 class="text-primary mb-4"><b><i class="fa fa-link"></i>
                    {% if object.connect_id %}
                        {{ object.connect_id }}
                    {% else %}
                        -
                    {% endif %}

                </b></h4>
                <h5><i class="fa fa-user"></i> {{ object.first_name }} {{ object.last_name }}</h5>
                <h5><i class="fa fa-home"></i> Individual Account</h5>
                <h5><i class="fa fa-inbox"></i> {{ object.email }}</h5>
                <h5 class="mt-4"><i class="fa fa-phone"></i> {{ object.phone }}</h5>
                <h5><i class="fa fa-map"></i> {{ object.address }} - {{ object.city }} <b>({{ object.postal_code }})</b>
                    - {{ object.country }}</h5>
            </div>

            <div class="card-body border-bottom">
                <b class="p-1 bg-success text-white"><i class="fa fa-check-circle"></i> Transfers: Yes</b>
                <b class="p-1 bg-success text-white"><i class="fa fa-check-circle"></i> Payouts: Yes</b>
            </div>

            <div class="card-body">
                <p class="mb-0">
                    <small class="text-muted">{{ object.created_on }}</small>
                </p>
            </div>

            {% if not object.is_verified %}
                <div class="card-body border-top">
                    <p class="mb-0">
                        <b class=""><a href="{% url 'payment-stripe:connect-verify' %}">Please verify your account first - click here.</a></b>
                    </p>
                </div>
            {% endif %}

        </div>
        <div class="col-sm-4">

            {# VERIFY #}
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0 card-title">Verification</p>
                </div>
                <div class="card-body">
                    {% if not object.is_verified %}
                        <p class="mb-0 text-danger card-text">
                            <b>
                                Your connect account is not verified fully please check the errors below and fulfill
                                the requirements.
                            </b>
                        </p>
                    {% else %}
                        <p class="mb-0 text-danger card-text">
                            <b>Verified account</b>
                        </p>
                    {% endif %}

                    <p class="mb-0 mt-3"><b><a href="#">View Verifications</a></b></p>
                </div>
            </div>

            {# Bank Accounts #}
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="mb-0 card-title">Cards and Banks</p>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped">
                        <tbody>
                        {% for object in object.get_external_accounts %}
                            <tr>
                                <th><b class="mb-0"><i class="fa fa-house-user"></i></b></th>
                                <th><b class="mb-0">{{ object.account_number }}</b></th>
                                <th>
                                    {% if object.is_verified %}
                                        <b class="mb-0"><a href="#" class="text-success">
                                            <i class="fa fa-check-circle"></i> verified</a>
                                        </b>
                                    {% else %}
                                        <b class="mb-0"><a href="#" class="text-danger">
                                        <i class="fa fa-times-circle"></i> not verified</a>
                                    </b>
                                    {% endif %}
                                </th>
                                <th><b class="mb-0"><a href="{% url 'payment-stripe:connect-external-account-change' object.pk %}" class="text-primary"><i class="fa fa-edit"></i></a></b>
                                </th>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <p class="mb-0"><b><a href="{% url 'payment-stripe:connect-external-account' %}">View External
                        Accounts</a></b></p>
                </div>
            </div>

            {# DELETE #}
            <div class="card bg-danger">
                <div class="card-body text-white border-bottom border-white">
                    <p class="mb-0 card-title">Remove Account</p>
                </div>
                <div class="card-body text-white">
                    <p class="card-text">
                        <b>
                            Are you sure you want to delete your connect account, there is no way to get back your data
                            related to this connected account.
                        </b>
                    </p>
                    <a href="{% url 'payment-stripe:connect-delete' %}" class="btn btn-light text-danger">Delete
                        Account</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
