{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} Delete External Account {% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-8">
            <div class="">
                <div class="card-body border-bottom">
                    <p class="card-title mb-0">External Account Delete Confirmation</p>
                </div>
                <div class="card-body">

                    <form method="post">{% csrf_token %}
                        <p class="mb-3">
                            Are you sure you want to delete this account <b class="text-danger">"{{ object }}"</b>,
                            account will be detached from your connect account.
                        </p>
                        <input type="submit" class="btn btn-danger" value="Confirm">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
